In [1]:
import pandas as pd
import numpy as np
import math
import json
import os
import matplotlib.pyplot as plt
from math import floor, ceil
from random import randint
from statistics import mean
import warnings
warnings.filterwarnings("ignore")

## 导入数据集

In [2]:
os.chdir(r"D:\A李杜若\留学\科研\可视化_王懿芳学姐\CFPS\NLS\2-imputed-data")

In [8]:
# Opening nlsw JSON file
with open('psid_imputed.json') as json_file:
    people_dict = json.load(json_file)

In [9]:
len(people_dict)

5225

In [23]:
set(pd.DataFrame(list(pd.DataFrame(list(pd.DataFrame(people_dict)['basic_info']))['education']))['highest_education_level'])

{None, 'college', 'high-school', 'high-school-noncompletion'}

In [9]:
# Opening nlsy79 JSON file
with open('nlsy_imputed.json') as json_file:
    people_dict = json.load(json_file)

In [11]:
people_dict[1]

{'basic_info': {'birth_year': 1959,
  'education': {'highest_education_level': 'high-school',
   'highest_education_name': '12th grade',
   'year': 1978},
  'first_job': {'income': 5000, 'occupation': 305, 'year': 1979},
  'gender': 'female',
  'race': 'other'},
 'life_sequence': [{'child_under_18': False,
   'child_under_18_status_change': -1,
   'childbearing_status': False,
   'income': 5000,
   'isWorking': True,
   'marriage_status': 'never married',
   'marriage_status_change': -1,
   'migration_status': -1,
   'occupation': '305',
   'residence': 'SMSA, in central city',
   'year': 1979},
  {'child_under_18': False,
   'child_under_18_status_change': 0,
   'childbearing_status': False,
   'income': 6000,
   'isWorking': True,
   'marriage_status': 'never married',
   'marriage_status_change': False,
   'migration_status': False,
   'occupation': '305',
   'residence': 'SMSA, in central city',
   'year': 1980},
  {'child_under_18': False,
   'child_under_18_status_change': 0,
   'childbearing_status': False,
   'income': 10000,
   'isWorking': True,
   'marriage_status': 'never married',
   'marriage_status_change': False,
   'migration_status': False,
   'occupation': '305',
   'residence': 'SMSA, in central city',
   'year': 1981},
  {'child_under_18': False,
   'child_under_18_status_change': 0,
   'childbearing_status': False,
   'income': 11000,
   'isWorking': True,
   'marriage_status': 'never married',
   'marriage_status_change': False,
   'migration_status': False,
   'occupation': '305',
   'residence': 'SMSA, in central city',
   'year': 1982},
  {'child_under_18': False,
   'child_under_18_status_change': 0,
   'childbearing_status': False,
   'income': 11500,
   'isWorking': True,
   'marriage_status': 'never married',
   'marriage_status_change': False,
   'migration_status': False,
   'occupation': '305',
   'residence': 'SMSA, in central city',
   'year': 1983},
  {'child_under_18': False,
   'child_under_18_status_change': 0,
   'childbearing_status': False,
   'income': 11000,
   'isWorking': True,
   'marriage_status': 'never married',
   'marriage_status_change': False,
   'migration_status': False,
   'occupation': '1',
   'residence': 'SMSA, in central city',
   'year': 1984},
  {'child_under_18': False,
   'child_under_18_status_change': 0,
   'childbearing_status': False,
   'income': 14000,
   'isWorking': True,
   'marriage_status': 'never married',
   'marriage_status_change': False,
   'migration_status': False,
   'occupation': '375',
   'residence': 'SMSA, in central city',
   'year': 1985},
  {'child_under_18': False,
   'child_under_18_status_change': 0,
   'childbearing_status': False,
   'income': 16000,
   'isWorking': True,
   'marriage_status': 'never married',
   'marriage_status_change': False,
   'migration_status': False,
   'occupation': '1',
   'residence': 'SMSA, in central city',
   'year': 1986},
  {'child_under_18': False,
   'child_under_18_status_change': 0,
   'childbearing_status': False,
   'income': 20000,
   'isWorking': True,
   'marriage_status': 'never married',
   'marriage_status_change': False,
   'migration_status': False,
   'occupation': '1',
   'residence': 'SMSA, in central city',
   'year': 1987},
  {'child_under_18': False,
   'child_under_18_status_change': 0,
   'childbearing_status': False,
   'income': 19000,
   'isWorking': True,
   'marriage_status': 'never married',
   'marriage_status_change': False,
   'migration_status': False,
   'occupation': '1',
   'residence': 'SMSA, in central city',
   'year': 1988},
  {'child_under_18': False,
   'child_under_18_status_change': 0,
   'childbearing_status': False,
   'income': 20000,
   'isWorking': True,
   'marriage_status': 'never married',
   'marriage_status_change': False,
   'migration_status': False,
   'occupation': '394',
   'residence': 'SMSA, in central city',
   'year': 1989},
  {'child_under_18': False,
   'child_under_18_status_change': 0,
   'childbearing_status': False,
   'income': 20000,
   'isWorking': True,
   'marriage_status': 'never married',
   'marriage_status_change': False,
   'migration_status': False,
   'occupation': '1',
   'residence': 'SMSA, in central city',
   'year': 1990},
  {'child_under_18': False,
   'child_under_18_status_change': 0,
   'childbearing_status': False,
   'income': 22000,
   'isWorking': True,
   'marriage_status': 'never married',
   'marriage_status_change': False,
   'migration_status': False,
   'occupation': '305',
   'residence': 'SMSA, in central city',
   'year': 1991},
  {'child_under_18': False,
   'child_under_18_status_change': 0,
   'childbearing_status': False,
   'income': 25000,
   'isWorking': True,
   'marriage_status': 'married',
   'marriage_status_change': True,
   'migration_status': False,
   'occupation': '1',
   'residence': 'SMSA, in central city',
   'year': 1992},
  {'child_under_18': True,
   'child_under_18_status_change': 2,
   'childbearing_status': True,
   'income': 23375,
   'isWorking': True,
   'marriage_status': 'married',
   'marriage_status_change': False,
   'migration_status': False,
   'occupation': '305',
   'residence': 'SMSA, in central city',
   'year': 1993},
  {'child_under_18': True,
   'child_under_18_status_change': 0,
   'childbearing_status': True,
   'income': 21750,
   'isWorking': False,
   'marriage_status': 'married',
   'marriage_status_change': False,
   'migration_status': False,
   'occupation': '305',
   'residence': 'SMSA, in central city',
   'year': 1994},
  {'occupation': '305',
   'income': 20125,
   'isWorking': False,
   'marriage_status': 'married',
   'marriage_status_change': False,
   'childbearing_status': False,
   'child_under_18': True,
   'child_under_18_status_change': 0,
   'residence': 'SMSA, in central city',
   'migration_status': False,
   'year': 1995},
  {'child_under_18': True,
   'child_under_18_status_change': 0,
   'childbearing_status': False,
   'income': 18500,
   'isWorking': False,
   'marriage_status': 'married',
   'marriage_status_change': False,
   'migration_status': True,
   'occupation': '305',
   'residence': 'SMSA, not in central city',
   'year': 1996},
  {'occupation': '305',
   'income': 16875,
   'isWorking': False,
   'marriage_status': 'married',
   'marriage_status_change': False,
   'childbearing_status': False,
   'child_under_18': True,
   'child_under_18_status_change': 0,
   'residence': 'SMSA, not in central city',
   'migration_status': False,
   'year': 1997},
  {'child_under_18': True,
   'child_under_18_status_change': 0,
   'childbearing_status': False,
   'income': 15250,
   'isWorking': False,
   'marriage_status': 'married',
   'marriage_status_change': False,
   'migration_status': False,
   'occupation': '305',
   'residence': 'SMSA, not in central city',
   'year': 1998},
  {'occupation': '305',
   'income': 13625,
   'isWorking': False,
   'marriage_status': 'married',
   'marriage_status_change': False,
   'childbearing_status': False,
   'child_under_18': True,
   'child_under_18_status_change': 0,
   'residence': 'SMSA, not in central city',
   'migration_status': False,
   'year': 1999},
  {'child_under_18': True,
   'child_under_18_status_change': 0,
   'childbearing_status': False,
   'income': 12000,
   'isWorking': False,
   'marriage_status': 'married',
   'marriage_status_change': False,
   'migration_status': False,
   'occupation': '305',
   'residence': 'SMSA, not in central city',
   'year': 2000},
  {'occupation': '305',
   'income': 10375,
   'isWorking': False,
   'marriage_status': 'married',
   'marriage_status_change': False,
   'childbearing_status': False,
   'child_under_18': True,
   'child_under_18_status_change': 0,
   'residence': 'SMSA, not in central city',
   'migration_status': False,
   'year': 2001},
  {'child_under_18': True,
   'child_under_18_status_change': 0,
   'childbearing_status': False,
   'income': 8750,
   'isWorking': False,
   'marriage_status': 'married',
   'marriage_status_change': False,
   'migration_status': False,
   'occupation': '305',
   'residence': 'SMSA, not in central city',
   'year': 2002},
  {'occupation': '305',
   'income': 7125,
   'isWorking': False,
   'marriage_status': 'married',
   'marriage_status_change': False,
   'childbearing_status': False,
   'child_under_18': True,
   'child_under_18_status_change': 0,
   'residence': 'SMSA, not in central city',
   'migration_status': False,
   'year': 2003},
  {'child_under_18': True,
   'child_under_18_status_change': 0,
   'childbearing_status': False,
   'income': 5500,
   'isWorking': True,
   'marriage_status': 'married',
   'marriage_status_change': False,
   'migration_status': False,
   'occupation': '4720',
   'residence': 'SMSA, not in central city',
   'year': 2004},
  {'occupation': '4720',
   'income': 5250,
   'isWorking': False,
   'marriage_status': 'married',
   'marriage_status_change': False,
   'childbearing_status': False,
   'child_under_18': True,
   'child_under_18_status_change': 0,
   'residence': 'SMSA, not in central city',
   'migration_status': False,
   'year': 2005},
  {'child_under_18': True,
   'child_under_18_status_change': 0,
   'childbearing_status': False,
   'income': 5000,
   'isWorking': True,
   'marriage_status': 'married',
   'marriage_status_change': False,
   'migration_status': False,
   'occupation': '4720',
   'residence': 'SMSA, not in central city',
   'year': 2006},
  {'occupation': '4720',
   'income': 5500,
   'isWorking': False,
   'marriage_status': 'married',
   'marriage_status_change': False,
   'childbearing_status': False,
   'child_under_18': True,
   'child_under_18_status_change': 0,
   'residence': 'SMSA, not in central city',
   'migration_status': False,
   'year': 2007},
  {'child_under_18': True,
   'child_under_18_status_change': 0,
   'childbearing_status': False,
   'income': 6000,
   'isWorking': True,
   'marriage_status': 'married',
   'marriage_status_change': False,
   'migration_status': False,
   'occupation': '4720',
   'residence': 'SMSA, not in central city',
   'year': 2008},
  {'occupation': '4720',
   'income': 12500,
   'isWorking': False,
   'marriage_status': 'married',
   'marriage_status_change': False,
   'childbearing_status': False,
   'child_under_18': True,
   'child_under_18_status_change': 0,
   'residence': 'SMSA, not in central city',
   'migration_status': False,
   'year': 2009},
  {'child_under_18': True,
   'child_under_18_status_change': 0,
   'childbearing_status': False,
   'income': 19000,
   'isWorking': True,
   'marriage_status': 'married',
   'marriage_status_change': False,
   'migration_status': False,
   'occupation': '4720',
   'residence': 'SMSA, not in central city',
   'year': 2010},
  {'occupation': '4720',
   'income': 20000,
   'isWorking': False,
   'marriage_status': 'married',
   'marriage_status_change': False,
   'childbearing_status': False,
   'child_under_18': True,
   'child_under_18_status_change': 0,
   'residence': 'SMSA, not in central city',
   'migration_status': False,
   'year': 2011},
  {'child_under_18': False,
   'child_under_18_status_change': 1,
   'childbearing_status': False,
   'income': 21000,
   'isWorking': True,
   'marriage_status': 'married',
   'marriage_status_change': False,
   'migration_status': False,
   'occupation': '4720',
   'residence': 'SMSA, not in central city',
   'year': 2012},
  {'occupation': '4720',
   'income': 22000,
   'isWorking': False,
   'marriage_status': 'married',
   'marriage_status_change': False,
   'childbearing_status': False,
   'child_under_18': False,
   'child_under_18_status_change': 0,
   'residence': 'SMSA, not in central city',
   'migration_status': False,
   'year': 2013},
  {'child_under_18': False,
   'child_under_18_status_change': 0,
   'childbearing_status': False,
   'income': 23000,
   'isWorking': True,
   'marriage_status': 'married',
   'marriage_status_change': False,
   'migration_status': False,
   'occupation': '4720',
   'residence': 'SMSA, not in central city',
   'year': 2014},
  {'occupation': '4720',
   'income': 24000,
   'isWorking': False,
   'marriage_status': 'married',
   'marriage_status_change': False,
   'childbearing_status': False,
   'child_under_18': False,
   'child_under_18_status_change': 0,
   'residence': 'SMSA, not in central city',
   'migration_status': False,
   'year': 2015},
  {'child_under_18': False,
   'child_under_18_status_change': 0,
   'childbearing_status': False,
   'income': 25000,
   'isWorking': True,
   'marriage_status': 'married',
   'marriage_status_change': False,
   'migration_status': False,
   'occupation': '4020',
   'residence': 'SMSA, not in central city',
   'year': 2016},
  {'occupation': '4020',
   'income': 25000,
   'isWorking': False,
   'marriage_status': 'married',
   'marriage_status_change': False,
   'childbearing_status': False,
   'child_under_18': False,
   'child_under_18_status_change': 0,
   'residence': 'SMSA, not in central city',
   'migration_status': False,
   'year': 2017},
  {'child_under_18': False,
   'child_under_18_status_change': 0,
   'childbearing_status': False,
   'income': 25000,
   'isWorking': True,
   'marriage_status': 'married',
   'marriage_status_change': False,
   'migration_status': False,
   'occupation': '4020',
   'residence': 'SMSA, not in central city',
   'year': 2018}],
 'person_id': '2',
 'spouse_info': {'spouse_birth_year': 1958,
  'spouse_education': {'highest_education_level': 'high-school',
   'highest_education_name': '12th grade',
   'year': None},
  'spouse_first_job': {'income': 120, 'occupation': None, 'year': 1979},
  'spouse_id': 6443,
  'spouse_life_sequence': [{'child_under_18': True,
    'child_under_18_status_change': -1,
    'childbearing_status': False,
    'income': 120,
    'isWorking': True,
    'marriage_status': 'married',
    'marriage_status_change': -1,
    'migration_status': -1,
    'occupation': None,
    'residence': 'not in SMSA',
    'year': 1979},
   {'child_under_18': True,
    'child_under_18_status_change': None,
    'childbearing_status': False,
    'income': None,
    'isWorking': False,
    'marriage_status': 'married',
    'marriage_status_change': False,
    'migration_status': False,
    'occupation': None,
    'residence': 'not in SMSA',
    'year': 1980},
   {'child_under_18': True,
    'child_under_18_status_change': None,
    'childbearing_status': False,
    'income': 1000,
    'isWorking': True,
    'marriage_status': 'married',
    'marriage_status_change': False,
    'migration_status': False,
    'occupation': None,
    'residence': 'not in SMSA',
    'year': 1981},
   {'child_under_18': True,
    'child_under_18_status_change': None,
    'childbearing_status': False,
    'income': 5000,
    'isWorking': True,
    'marriage_status': 'married',
    'marriage_status_change': False,
    'migration_status': False,
    'occupation': 663,
    'residence': 'not in SMSA',
    'year': 1982},
   {'child_under_18': True,
    'child_under_18_status_change': None,
    'childbearing_status': True,
    'income': 2000,
    'isWorking': True,
    'marriage_status': 'married',
    'marriage_status_change': False,
    'migration_status': False,
    'occupation': 663,
    'residence': 'not in SMSA',
    'year': 1983},
   {'child_under_18': True,
    'child_under_18_status_change': None,
    'childbearing_status': False,
    'income': 5200,
    'isWorking': True,
    'marriage_status': 'married',
    'marriage_status_change': False,
    'migration_status': False,
    'occupation': 663,
    'residence': 'not in SMSA',
    'year': 1984},
   {'child_under_18': True,
    'child_under_18_status_change': None,
    'childbearing_status': False,
    'income': 6000,
    'isWorking': True,
    'marriage_status': 'married',
    'marriage_status_change': False,
    'migration_status': False,
    'occupation': 663,
    'residence': 'not in SMSA',
    'year': 1985},
   {'child_under_18': True,
    'child_under_18_status_change': None,
    'childbearing_status': False,
    'income': 8000,
    'isWorking': True,
    'marriage_status': 'married',
    'marriage_status_change': False,
    'migration_status': False,
    'occupation': 663,
    'residence': 'not in SMSA',
    'year': 1986},
   {'child_under_18': True,
    'child_under_18_status_change': None,
    'childbearing_status': False,
    'income': 8000,
    'isWorking': True,
    'marriage_status': 'married',
    'marriage_status_change': False,
    'migration_status': False,
    'occupation': 663,
    'residence': 'not in SMSA',
    'year': 1987},
   {'child_under_18': True,
    'child_under_18_status_change': None,
    'childbearing_status': False,
    'income': 8000,
    'isWorking': True,
    'marriage_status': 'married',
    'marriage_status_change': False,
    'migration_status': False,
    'occupation': 663,
    'residence': 'not in SMSA',
    'year': 1988},
   {'child_under_18': True,
    'child_under_18_status_change': None,
    'childbearing_status': False,
    'income': 7200,
    'isWorking': True,
    'marriage_status': 'married',
    'marriage_status_change': False,
    'migration_status': False,
    'occupation': 912,
    'residence': 'not in SMSA',
    'year': 1989},
   {'child_under_18': True,
    'child_under_18_status_change': None,
    'childbearing_status': False,
    'income': 6000,
    'isWorking': True,
    'marriage_status': 'married',
    'marriage_status_change': False,
    'migration_status': False,
    'occupation': 753,
    'residence': 'not in SMSA',
    'year': 1990},
   {'child_under_18': True,
    'child_under_18_status_change': None,
    'childbearing_status': False,
    'income': 7000,
    'isWorking': True,
    'marriage_status': 'married',
    'marriage_status_change': False,
    'migration_status': False,
    'occupation': 780,
    'residence': 'not in SMSA',
    'year': 1991},
   {'child_under_18': True,
    'child_under_18_status_change': None,
    'childbearing_status': False,
    'income': 7000,
    'isWorking': True,
    'marriage_status': 'married',
    'marriage_status_change': False,
    'migration_status': False,
    'occupation': 690,
    'residence': 'not in SMSA',
    'year': 1992},
   {'child_under_18': True,
    'child_under_18_status_change': None,
    'childbearing_status': False,
    'income': 13000,
    'isWorking': True,
    'marriage_status': 'married',
    'marriage_status_change': False,
    'migration_status': False,
    'occupation': 643,
    'residence': 'not in SMSA',
    'year': 1993},
   {'child_under_18': True,
    'child_under_18_status_change': None,
    'childbearing_status': False,
    'income': 13000,
    'isWorking': True,
    'marriage_status': 'married',
    'marriage_status_change': False,
    'migration_status': False,
    'occupation': 643,
    'residence': 'not in SMSA',
    'year': 1994},
   {'child_under_18': True,
    'child_under_18_status_change': None,
    'childbearing_status': False,
    'income': 13000,
    'isWorking': True,
    'marriage_status': 'married',
    'marriage_status_change': False,
    'migration_status': False,
    'occupation': 643,
    'residence': 'not in SMSA',
    'year': 1996},
   {'child_under_18': True,
    'child_under_18_status_change': None,
    'childbearing_status': False,
    'income': 21000,
    'isWorking': True,
    'marriage_status': 'married',
    'marriage_status_change': False,
    'migration_status': False,
    'occupation': 392,
    'residence': 'not in SMSA',
    'year': 1998},
   {'child_under_18': True,
    'child_under_18_status_change': None,
    'childbearing_status': False,
    'income': None,
    'isWorking': True,
    'marriage_status': 'married',
    'marriage_status_change': False,
    'migration_status': True,
    'occupation': 392,
    'residence': 'SMSA, not in central city',
    'year': 2000},
   {'child_under_18': False,
    'child_under_18_status_change': None,
    'childbearing_status': False,
    'income': None,
    'isWorking': False,
    'marriage_status': None,

In [ ]:
# Opening nlsm JSON file
with open('nlsm_imputed.json') as json_file:
    people_dict = json.load(json_file)

In [ ]:
# Opening psid JSON file
with open('psid_imputed.json') as json_file:
    people_dict = json.load(json_file)

## 主函数-分块

### individual

In [68]:
with open('psid_imputed.json') as json_file:
    people_dict = json.load(json_file)
person_year_info =pd.read_csv('psid-person-year-combine.csv')
person_year_info[person_year_info<0]=-1
df_people_occu_level = pd.read_csv('psid_industry_info.csv', index_col='Unnamed: 0')
df_people_occu_level.index = df_people_occu_level.index.astype('string')
df_industry = pd.read_csv('psid_industry_change_abs.csv').drop('Unnamed: 0', axis=1)

In [69]:
person_year_info['person_id']

0            1001
1            1002
2            1002
3            1002
4            1002
           ...
432765    9308002
432766    9308002
432767    9308002
432768    9308002
432769    9308002
Name: person_id, Length: 432770, dtype: int64

In [70]:
person_year_info.index = person_year_info['person_id']
person_year_info

,person_id,year,age,occu_change,industry_change,income_quantile_upward,income_quantile_downward,have child(ren) under 18_to_have no child under 18,have no child under 18_to_have child(ren) under 18,migration,marrital_status-single_to_couple,marrital_status-couple_to_single,marrital_status-single_to_single
person_id,,,,,,,,,,,,,
1001,1001,1968,52,-1,NaN,-1,-1,-1,-1,-1,-1,-1,-1
1002,1002,1970,48,-1,NaN,-1,-1,-1,-1,-1,-1,-1,-1
1002,1002,1971,49,0,NaN,0,0,0,0,0,0,0,0
1002,1002,1972,50,0,NaN,0,0,0,0,0,0,0,0
1002,1002,1973,51,0,NaN,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9308002,9308002,2015,48,0,NaN,0,0,0,0,0,0,0,0
9308002,9308002,2016,49,0,NaN,0,0,0,0,0,0,0,0
9308002,9308002,2017,50,0,NaN,0,0,0,0,0,0,0,0
9308002,9308002,2018,51,0,NaN,0,0,0,0,0,0,0,0
9308002,9308002,2019,52,0,NaN,0,0,0,0,0,0,0,0

In [12]:
pd.DataFrame(list(pd.DataFrame(people_dict)['basic_info']))

,birth_year,gender,race,first_job,education
0,1916,male,white,NaN,NaN
1,1922,female,white,"{'year': None, 'income': None, 'occupation': '5'}","{'year': None, 'highest_education_level': None..."
2,1947,male,white,"{'year': 1967, 'income': None, 'occupation': '7'}","{'year': None, 'highest_education_level': None..."
3,1912,male,white,NaN,NaN
4,1912,female,white,"{'year': None, 'income': None, 'occupation': '7'}","{'year': None, 'highest_education_level': 'hig..."
...,...,...,...,...,...
32083,1929,male,white,"{'year': None, 'income': None, 'occupation': '7'}","{'year': None, 'highest_education_level': 'col..."
32084,1950,male,white,"{'year': None, 'income': None, 'occupation': '7'}","{'year': None, 'highest_education_level': 'hig..."
32085,1953,male,white,"{'year': None, 'income': None, 'occupation': '9'}","{'year': 1975, 'highest_education_level': 'col..."
32086,1949,female,black,"{'year': None, 'income': None, 'occupation': '7'}","{'year': None, 'highest_education_level': 'hig..."
32087,1967,female,other,"{'year': None, 'income': None, 'occupation': N...","{'year': None, 'highest_education_level': 'hig..."

In [95]:
df_people_occu_level.apply(lambda x: len(set(x))>1, axis=1).value_counts(normalize=True).to_dict()

{True: 0.9641825534373195, False: 0.03581744656268053}

In [198]:
(df_industry[df_industry>0].sum().sum())/(df_industry.shape[0]*df_industry.shape[1])

0.0874810718282968

In [ ]:
dd = pd.DataFrame(list(pd.DataFrame(people_dict)['basic_info'])).set_index(pd.Index(pd.DataFrame(people_dict)['person_id']))
lll = list(dd[dd['gender']=='male'].index)
d1.loc[list(dd[dd['gender']=='male'].index)]

In [179]:
def count_percent(x):
    per = 1-(x>0).value_counts(normalize=True)[False]
    return per
count_percent(person_year_info['occu_change'])

0.2063722196683051

In [40]:
with open('nlsy_imputed.json') as json_file:
    people_dict0 = json.load(json_file)
dd = pd.DataFrame(list(pd.DataFrame(people_dict0)['basic_info'])).set_index(pd.Index(pd.DataFrame(people_dict0)['person_id']))
f_id_list = list(dd[dd['gender']=='female'].index)
m_id_list = list(dd[dd['gender']=='male'].index)
g_id_lists = [m_id_list, f_id_list]

In [ ]:
value_counts(normalize=True).apply(lambda x: format(x,'.4f')).to_dict()

In [70]:
dataset = 'nlsy'
person_year_info0 =pd.read_csv(dataset + '-person-year-combine.csv').set_index('person_id', drop=False)
person_year_info0.index = person_year_info0.index.astype('string')
def count_percent(x):
    per = (x>0).value_counts(normalize=True).round(4).to_dict()
    return per
person_year_info0['income_quantile_upward'].groupby(person_year_info0['year']).apply(lambda x:count_percent(x)).fillna(0).unstack().to_dict(orient ='index')

{1979: {False: 1.0, True: 0.0},
 1980: {False: 0.7541, True: 0.2459},
 1981: {False: 0.7964, True: 0.2036},
 1982: {False: 0.7931, True: 0.2069},
 1983: {False: 0.8263, True: 0.1737},
 1984: {False: 0.8264, True: 0.1736},
 1985: {False: 0.8329, True: 0.1671},
 1986: {False: 0.8408, True: 0.1592},
 1987: {False: 0.8703, True: 0.1297},
 1988: {False: 0.8527, True: 0.1473},
 1989: {False: 0.8855, True: 0.1145},
 1990: {False: 0.8848, True: 0.1152},
 1991: {False: 0.8934, True: 0.1066},
 1992: {False: 0.8925, True: 0.1075},
 1993: {False: 0.8902, True: 0.1098},
 1994: {False: 0.8769, True: 0.1231},
 1995: {False: 0.9226, True: 0.0774},
 1996: {False: 0.9269, True: 0.0731},
 1997: {False: 0.9341, True: 0.0659},
 1998: {False: 0.9365, True: 0.0635},
 1999: {False: 0.9264, True: 0.0736},
 2000: {False: 0.9398, True: 0.0602},
 2001: {False: 0.9288, True: 0.0712},
 2002: {False: 0.9431, True: 0.0569},
 2003: {False: 0.9343, True: 0.0657},
 2004: {False: 0.9457, True: 0.0543},
 2005: {False: 0.9373, True: 0.0627},
 2006: {False: 0.9455, True: 0.0545},
 2007: {False: 0.9465, True: 0.0535},
 2008: {False: 0.9383, True: 0.0617},
 2009: {False: 0.9476, True: 0.0524},
 2010: {False: 0.9537, True: 0.0463},
 2011: {False: 0.9385, True: 0.0615},
 2012: {False: 0.9551, True: 0.0449},
 2013: {False: 0.9601, True: 0.0399},
 2014: {False: 0.9556, True: 0.0444},
 2015: {False: 0.9614, True: 0.0386},
 2016: {False: 0.9605, True: 0.0395},
 2017: {False: 1.0, True: 0.0},
 2018: {False: 1.0, True: 0.0}}

In [80]:
person_year_info0[['central_nocentral', 'nocentral_central', 'other_migration']].sum(axis=1)

person_id
1       -12
1         0
1         0
1         0
1         0
         ..
12686     0
12686     0
12686     0
12686     0
12686     0
Length: 376588, dtype: int64

In [3]:
# nlsw(1968)
# 68-93: 60 codes
w_60_start = 0
w_60_end = 1994-1968
bin_60_3 = [0,195,199,222,249,290,300,370,379,395,400,545,600,775,800,804,809,890,900,905,959,985,994,995]
# 95-01: 90 codes
w_90_start = 1995-1968
w_90_end = 2002-1968
bin_90_3 = [3,22,37,42,199,202,235,242,285,302,389,402,407,412,427,432,469,472,476,484,499,502,699,702,889,996,997,998]
# 03: 00 codes
w_00 = 2003-1968
bin_00_3 = [1,43,49,95,99,124,129,156,159,196,199,206,209,215,219,255,259,296,299,354,359,365,369,395,399,416,419,425,429,465,469,496,499,593,599,613,619,694,699,762,769,896,899,975,983,984,996,997,998]

# nlsy(1979)
# 79-00: 3 digit, 70 code,
y_70_start = 0
y_70_end = 2001-1979
bin_70_3 = [1 , 195,200 , 245,259 , 285,300 , 395, 400 , 575,600 , 715,739 , 785,800 , 802,820 , 824,900 , 965, 979 , 984]
# 02: 3-digit, 00 code
y_00_3_start = 2002-1979
y_00_3_end = 2003-1979

# 04-18: 4 digit, 00 code
y_00_4_start = 2004-1979
y_00_4_end = 2018-1979
bin_00_4 = [10 , 430, 500 -1, 950,1000-1 , 1240,1300 -1, 1560,1600 -1, 1760,1800 -1, 1860,1900 -1, 1960,2000-1 , 2060, 2100 -1, 2150,2200 -1, 2340,2400 -1, 2550, 2600 -1, 2760,2800 -1, 2960,3000-1 , 3260, 3300 -1, 3650,3700 -1, 3950,4000-1 , 4160,4200 -1, 4250,4300 -1, 4430,4459,4460, 4500 -1, 4650,4700 -1, 4960,5000-1 , 5930,6000-1 , 6130,6200 -1, 6940,7000-1 , 7620,7700 -1, 7750,7800 -1, 7850,7900 -1, 8960,9000-1 , 9750,9800 -1, 9830,9839,9840,9949,9950,9989,9990]

# nlsm(1966)
# 3-digit 60codes

# psid更新过的occupation(1968)
# 1968-2001: 1970 3-digit code, 
p_70_start = 0
p_70_end = 2001-1968
# 2002-2015: 2000 3-digit code,
p_00_start = 2002-1968
p_00_end = 2016-1968
# 2017-2019: 2010 4-digit code
p_10_start = 2017-1968
p_10_end = 2019-1968
bin_10_4 = [10 , 430, 500 -1, 950,1000-1 , 1240,1300 -1, 1560,1600 -1, 1965,2000-1 , 2060, 2100 -1, 2160,2200 -1, 2550, 2600 -1, 2960,3000-1 , 3540, 3600 -1, 3650,3700 -1, 3955,4000-1 , 4160,4200 -1, 4250,4300 -1, 4650,4700 -1, 4965,5000-1 , 5940,6005-1 , 6130,6200 -1, 6940,7700-1 , 8965,9000-1 , 9750,9800 -1, 9830,9998,9999]

In [10]:
with open('psid_imputed.json') as json_file:
    people_dict0 = json.load(json_file)

In [16]:
##划分记录出生年代（区间）
dd = pd.DataFrame(list(pd.DataFrame(people_dict0)['basic_info'])).set_index(pd.Index(pd.DataFrame(people_dict0)['person_id']))
start_bir = 1900
end_bir = 10*ceil((dd['birth_year'].describe()['max']-1900)/10)+1900
dd['birth_year_range'] = pd.cut(dd['birth_year'], [i for i in range(start_bir,end_bir+10,10)], right=False,labels=[f'{i}s' for i in range(start_bir,end_bir,10)]).cat.add_categories(["none"]).fillna("none")

In [17]:
def stats_dictionary(dataset):
    with open(dataset + '_imputed.json') as json_file:
        people_dict0 = json.load(json_file)
    person_year_info0 =pd.read_csv(dataset + '-person-year-combine.csv').set_index('person_id', drop=False)
    person_year_info0.index = person_year_info0.index.astype('string')
    person_year_info0.index.name = None
    if dataset == 'nlsy':
        person_year_info0['migration']= person_year_info0[['central_nocentral', 'nocentral_central', 'other_migration']].sum(axis=1)
        person_year_info0[person_year_info0<0]=-1

    df_people_indu_level0 = pd.read_csv(dataset + '_industry_info.csv', index_col='Unnamed: 0')
    df_people_indu_level0.index = df_people_indu_level0.index.astype('string')
    df_industry0 = pd.read_csv(dataset + '_industry_change_abs.csv', index_col='Unnamed: 0')
    df_industry0.index = df_industry0.index.astype('string')
    ### 0.准备
    separate_dict = {
        "dataset_size":5000,
        "group_statistics":[] 
    }   
    ## 储存'male','female','other'分别的stats_dict
    stats_dict_list = []
    gender_list = ['male','female']
    ## 储存female和male的 person_id
    dd = pd.DataFrame(list(pd.DataFrame(people_dict0)['basic_info'])).set_index(pd.Index(pd.DataFrame(people_dict0)['person_id']))

    if dataset == "nlsw":
        f_id_list = list(dd.index)
        m_id_list = []
    elif dataset == 'nlsm':
        f_id_list = []
        m_id_list = list(dd.index)
    else:
        f_id_list = list(dd[dd['gender']=='female'].index)
        m_id_list = list(dd[dd['gender']=='male'].index)
    g_id_lists = [m_id_list, f_id_list]
        
    ## 获取dataset_size
    total_num = len(people_dict0)
    separate_dict['dataset_size'] = total_num
    
    for g_idx, gender in enumerate(gender_list):
        if (dataset == 'nlsw' and gender == 'male') or (dataset == 'nlsm' and gender == 'female'):
            continue

        # 每次都要重新创建新的dict，不然会连为一体
        stats_dict = {
        "individual_unit": {
            "demographic": {
                "gender": {"male": 0.45, "female": 0.5, "others": 0.05},
                "race": {"white": 0.6, "black": 0.35, "others": 0.05}, 
                "birth_year": {"70": 0.45, "80": 0.35, "90": 0.2},
                "education_level": {"high-school-noncompletion": 0.5, "high-school": 0.3, "college": 0.15, "none": 0.05}, 
            },
            "work": {  # 这个人至少发生一次如下event，就计数为1。统计label为1的人数占总人数的百分比
                "ever_income_upward_mobility": 0.01,
                "ever_occu_change": 0.002,
                "ever_industry_change": 0.003
            },
            "life": {
                "ever_married": 0.6,
                "ever_have_child": 0.4,
                "ever_migrated": 0.2
            }
        },
        "person_year_unit": {
            "work": {
                "income_upward_mobility": 0.001,
                "income_downward_mobility": 0.001,
                "occu_change": 0.002,
                "industry_change": 0.003
            },
            "life": {
                # 1. transfer events
                "single_couple": 0.02,
                "couple_single": 0.01,
                "childbearing_no_yes": 0.01,
            },
            "income_upward_mobility_trend": {
                "relative_time": {
                    "1": 0.02, # 含义：工作第1年，相比于工作第0年，发生upward mobility的人占所有人数的百分之多少
                    "2": 0.04,
                    
                },
                "absolute_time": {
                    "1966": 0.05, # 含义：1966年发生upward mobility的人占所有人数的百分之多少
                    "1967": 0.06,
                    
                }
            }, 
            "income_downward_mobility_trend": {
                "relative_time": {
                    "1": 0.02, 
                    "2": 0.04,
                    
                },
                "absolute_time": {
                    "1966": 0.05, 
                    "1967": 0.06,
                    
                }
            }, 
        }
    }
        g_id_list = g_id_lists[g_idx]
        stats_dict['group_name']=gender
        
        ### 1.individual_unit
        # 获取指定性别的 people_dict
        people_dict = [person for person in people_dict0 if person['person_id'] in g_id_list]
        df_demo = pd.DataFrame(list(pd.DataFrame(people_dict)['basic_info']))
        # 获取指定性别的 person_year_info
        person_year_info = person_year_info0.loc[person_year_info0.index.intersection(g_id_list)]
        # 获取指定性别的industry info
        df_people_indu_level = df_people_indu_level0.loc[df_people_indu_level0.index.intersection(g_id_list)]
        df_industry = df_industry0.loc[df_industry0.index.intersection(g_id_list)]
        
        # rank是为了绝对对齐
        cumm = 0
        person_year_info['rank']=0
        for idx, length  in enumerate(person_year_info.groupby('person_id').size()):
            person_year_info['rank'][cumm:cumm+length]=range(length)
            cumm = cumm+length
            
        ## 1.1 demographic
        # gender
        if dataset == 'nlsw':
            stats_dict['individual_unit']['demographic']['gender']={"male": 0, "female": 1, "others": 0}
        elif dataset == 'nlsm':
            stats_dict['individual_unit']['demographic']['gender']={"male": 1, "female": 0, "others": 0}
        else:
            stats_dict['individual_unit']['demographic']['gender'] = df_demo['gender'].fillna('none').value_counts(normalize=True).round(4).to_dict()
        # race
        stats_dict['individual_unit']['demographic']['race'] = df_demo['race'].fillna('none').value_counts(normalize=True).round(4).to_dict()
        # birth_year
        ## 计算年代范围
        start_bir = 10*int((df_demo['birth_year'][df_demo['birth_year']>1200].describe()['min']-1800)/10)+1800
        end_bir = 10*ceil((df_demo['birth_year'].describe()['max']-1900)/10)+1900
        if dataset == 'nlsy':
            stats_dict['individual_unit']['demographic']['birth_year'] = pd.cut(df_demo['birth_year'].fillna("none"), [i for i in range(start_bir,end_bir+10,10)], right=False,labels=[f'{i}s' for i in range(start_bir,end_bir,10)]).value_counts(normalize=True).round(4).to_dict()
        else:
            stats_dict['individual_unit']['demographic']['birth_year'] = pd.cut(df_demo['birth_year'], [i for i in range(start_bir,end_bir+10,10)], right=False,labels=[f'{i}s' for i in range(start_bir,end_bir,10)]).cat.add_categories(["none"]).fillna("none").value_counts(normalize=True).round(4).to_dict()
        #education_level
        stats_dict['individual_unit']['demographic']['education_level'] = pd.DataFrame(list(df_demo['education'].dropna()))['highest_education_level'].fillna('none').value_counts(normalize=True).round(4).to_dict()

        ## 1.2 work
        # ever_income_upward_mobility
        stats_dict['individual_unit']['work']['ever_income_upward_mobility'] = person_year_info['income_quantile_upward'].groupby(person_year_info['person_id']).apply(lambda x: x.max()>0).value_counts(normalize=True).round(4).to_dict() #x.max()>0判断是否存在1，事件是否发生过
        # ever_occu_change
        stats_dict['individual_unit']['work']['ever_occu_change'] = person_year_info['occu_change'].groupby(person_year_info['person_id']).apply(lambda x: x.max()>0).value_counts(normalize=True).round(4).to_dict()
        # ever_industry_change
        if dataset == 'psid':
            stats_dict['individual_unit']['work']['ever_industry_change'] = df_people_indu_level.apply(lambda x: len(set(x[p_70_start:p_70_end+1]))+len(set(x[p_00_start:p_00_end+1]))+len(set(x[p_10_start:p_10_end+1]))>3, axis=1).value_counts(normalize=True).round(4).to_dict()
        if dataset == 'nlsy':
            stats_dict['individual_unit']['work']['ever_industry_change'] = df_people_indu_level.apply(lambda x: len(set(x[y_70_start:y_70_end+1]))+len(set(x[y_00_4_start:y_00_4_end+1]))>2, axis=1).value_counts(normalize=True).round(4).to_dict()
        if dataset == 'nlsw':
            stats_dict['individual_unit']['work']['ever_industry_change'] = df_people_indu_level.apply(lambda x: len(set(x[w_60_start:w_60_end+1]))+len(set(x[w_90_start:w_90_end+1]))>2, axis=1).value_counts(normalize=True).round(4).to_dict()    
        if dataset == 'nlsm':
            stats_dict['individual_unit']['work']['ever_industry_change'] = df_people_indu_level.apply(lambda x: len(set(x))>1, axis=1).value_counts(normalize=True).round(4).to_dict()     
        #len(set(x[y_70_start:y_70_end+1]))+len(set(x[y_00_4_start:y_00_4_end+1]))
        ## 1.3 life
        # 定义提取life_sequence序列的函数
        def everfun(row, colname):
            if list(filter(None, row))==[]:
                return 'none'
            elif pd.DataFrame(list(filter(None, list(row))))[colname].max()>0:
                return True
            else:
                return False
        df_life = pd.DataFrame(people_dict[0]['life_sequence'])
        # ever_married
        stats_dict['individual_unit']['life']['ever_married'] = pd.DataFrame(list(pd.DataFrame(people_dict)['life_sequence'])).apply(lambda row: everfun(row, 'marriage_status_change'), axis=1).value_counts(normalize=True).round(4).to_dict()

        stats_dict['individual_unit']['life']['ever_have_child'] = pd.DataFrame(list(pd.DataFrame(people_dict)['life_sequence'])).apply(lambda row: everfun(row, 'child_under_18'), axis=1).value_counts(normalize=True).round(4).to_dict()
        # ever_migrated
        stats_dict['individual_unit']['life']['ever_migrated'] = pd.DataFrame(list(pd.DataFrame(people_dict)['life_sequence'])).apply(lambda row: everfun(row, 'migration_status'), axis=1).value_counts(normalize=True).round(4).to_dict()

        ### person_year_unit
        def count_percent(x):
            per = (x>0).value_counts(normalize=True).round(4).to_dict()
            return per
        ## work
        stats_dict['person_year_unit']['work']['income_upward_mobility'] = count_percent(person_year_info['income_quantile_upward'])
        stats_dict['person_year_unit']['work']['income_downward_mobility'] = count_percent(person_year_info['income_quantile_downward'])
        stats_dict['person_year_unit']['work']['occu_change'] = count_percent(person_year_info['occu_change'])
        # industry_change（特殊）
        stats_dict['person_year_unit']['work']['industry_change'] = {"true":0, "false":0}
        stats_dict['person_year_unit']['work']['industry_change']["true"] = round((df_industry[df_industry>0].sum().sum())/(df_industry.shape[0]*df_industry.shape[1]), 4)
        stats_dict['person_year_unit']['work']['industry_change']["false"] = 1-stats_dict['person_year_unit']['work']['industry_change']["true"]
        ## life
        if dataset == 'nlsy':
            lfe_trans_list = ['have child(ren) under 18_to_have no child under 18',
            'have no child under 18_to_have child(ren) under 18', 'migration', 'central_nocentral', 'nocentral_central', 'other_migration',
            'marrital_status-single_to_couple', 'marrital_status-couple_to_single',
            'marrital_status-single_to_single']
            lfe_name_list = ['childbearing_yes_no','childbearing_no_yes', 'has_migration', 'central_nocentral', 'nocentral_central', 'other_migration','single_couple', 'couple_single', 'single_single']
        else:
            lfe_trans_list = ['have child(ren) under 18_to_have no child under 18',
            'have no child under 18_to_have child(ren) under 18', 'migration',
            'marrital_status-single_to_couple', 'marrital_status-couple_to_single',
            'marrital_status-single_to_single']
            lfe_name_list = ['childbearing_yes_no','childbearing_no_yes', 'has_migration', 'single_couple', 'couple_single', 'single_single']
            
        for idx, event in enumerate(lfe_trans_list):
            stats_dict['person_year_unit']['life'][lfe_name_list[idx]] = count_percent(person_year_info[event])
        ## income_upward_mobility_trend
        # relative_time
        stats_dict['person_year_unit']['income_upward_mobility_trend']['relative_time'] = person_year_info['income_quantile_upward'].groupby(person_year_info['rank']).apply(lambda x:count_percent(x)).unstack().dropna().to_dict(orient ='index')
        # absolute_time
        stats_dict['person_year_unit']['income_upward_mobility_trend']['absolute_time'] = person_year_info['income_quantile_upward'].groupby(person_year_info['year']).apply(lambda x:count_percent(x)).unstack().dropna().to_dict(orient ='index')

        ## income_downward_mobility_trend
        # relative_time
        stats_dict['person_year_unit']['income_downward_mobility_trend']['relative_time'] = person_year_info['income_quantile_downward'].groupby(person_year_info['rank']).apply(lambda x:count_percent(x)).unstack().dropna().to_dict(orient ='index')
        # absolute_time
        stats_dict['person_year_unit']['income_downward_mobility_trend']['absolute_time'] = person_year_info['income_quantile_downward'].groupby(person_year_info['year']).apply(lambda x:count_percent(x)).unstack().dropna().to_dict(orient ='index')

    
        stats_dict_list.append(stats_dict)
        
    separate_dict["group_statistics"] = stats_dict_list   
    ### 输出
    with open('D:/A李杜若/留学/科研/可视化_王懿芳学姐/CFPS/NLS/4-descriptive-stats/'+dataset+'-stats-1.json', 'w') as f:
        json.dump(separate_dict,f)

### race-group

In [24]:
def stats_dictionary(dataset):
    with open(dataset + '_imputed.json') as json_file:
        people_dict0 = json.load(json_file)
    person_year_info0 =pd.read_csv(dataset + '-person-year-combine.csv').set_index('person_id', drop=False)
    person_year_info0.index = person_year_info0.index.astype('string')
    person_year_info0.index.name = None
    if dataset == 'nlsy':
        person_year_info0['migration']= person_year_info0[['central_nocentral', 'nocentral_central', 'other_migration']].sum(axis=1)
        person_year_info0[person_year_info0<0]=-1

    df_people_indu_level0 = pd.read_csv(dataset + '_industry_info.csv', index_col='Unnamed: 0')
    df_people_indu_level0.index = df_people_indu_level0.index.astype('string')
    df_industry0 = pd.read_csv(dataset + '_industry_change_abs.csv', index_col='Unnamed: 0')
    df_industry0.index = df_industry0.index.astype('string')
    ### 0.准备
    separate_dict = {
        "dataset_size":5000,
        "group_statistics":[] 
    }   
    ## 储存'white','black','other'分别的stats_dict
    stats_dict_list = []
    race_list = ['white', 'black', 'other']
    ## 储存person_id
    dd = pd.DataFrame(list(pd.DataFrame(people_dict0)['basic_info'])).set_index(pd.Index(pd.DataFrame(people_dict0)['person_id']))

    # if dataset == "nlsw":
    #     w_id_list = list(dd.index)
    #     b_id_list = []
    # elif dataset == 'nlsm':
    #     f_id_list = []
    #     m_id_list = list(dd.index)
    # else:
    w_id_list = list(dd[dd['race']=='white'].index)
    b_id_list = list(dd[dd['race']=='black'].index)
    o_id_list = list(dd[dd['race']=='other'].index)
    r_id_lists = [w_id_list, b_id_list, o_id_list]
        
    ## 获取dataset_size
    total_num = len(people_dict0)
    separate_dict['dataset_size'] = total_num
    
    for r_idx, race in enumerate(race_list):
        # if (dataset == 'nlsw' and race == 'male') or (dataset == 'nlsm' and race == 'female'):
        #     continue

        # 每次都要重新创建新的dict，不然会连为一体
        stats_dict = {
        "individual_unit": {
            "demographic": {
                "gender": {"male": 0.45, "female": 0.5, "others": 0.05},
                "race": {"white": 0.6, "black": 0.35, "others": 0.05}, 
                "birth_year": {"70": 0.45, "80": 0.35, "90": 0.2},
                "education_level": {"high-school-noncompletion": 0.5, "high-school": 0.3, "college": 0.15, "none": 0.05}, 
            },
            "work": {  # 这个人至少发生一次如下event，就计数为1。统计label为1的人数占总人数的百分比
                "ever_income_upward_mobility": 0.01,
                "ever_occu_change": 0.002,
                "ever_industry_change": 0.003
            },
            "life": {
                "ever_married": 0.6,
                "ever_have_child": 0.4,
                "ever_migrated": 0.2
            }
        },
        "person_year_unit": {
            "work": {
                "income_upward_mobility": 0.001,
                "income_downward_mobility": 0.001,
                "occu_change": 0.002,
                "industry_change": 0.003
            },
            "life": {
                # 1. transfer events
                "single_couple": 0.02,
                "couple_single": 0.01,
                "childbearing_no_yes": 0.01,
            },
            "income_upward_mobility_trend": {
                "relative_time": {
                    "1": 0.02, # 含义：工作第1年，相比于工作第0年，发生upward mobility的人占所有人数的百分之多少
                    "2": 0.04,
                    
                },
                "absolute_time": {
                    "1966": 0.05, # 含义：1966年发生upward mobility的人占所有人数的百分之多少
                    "1967": 0.06,
                    
                }
            }, 
            "income_downward_mobility_trend": {
                "relative_time": {
                    "1": 0.02, 
                    "2": 0.04,
                    
                },
                "absolute_time": {
                    "1966": 0.05, 
                    "1967": 0.06,
                    
                }
            }, 
        }
    }
        r_id_list = r_id_lists[r_idx]
        stats_dict['group_name']=race
        
        ### 1.individual_unit
        # 获取指定性别的 people_dict
        people_dict = [person for person in people_dict0 if person['person_id'] in r_id_list]
        df_demo = pd.DataFrame(list(pd.DataFrame(people_dict)['basic_info']))
        # 获取指定性别的 person_year_info
        person_year_info = person_year_info0.loc[person_year_info0.index.intersection(r_id_list)]
        # 获取指定性别的industry info
        df_people_indu_level = df_people_indu_level0.loc[df_people_indu_level0.index.intersection(r_id_list)]
        df_industry = df_industry0.loc[df_industry0.index.intersection(r_id_list)]
        
        # rank是为了绝对对齐
        cumm = 0
        person_year_info['rank']=0
        for idx, length  in enumerate(person_year_info.groupby('person_id').size()):
            person_year_info['rank'][cumm:cumm+length]=range(length)
            cumm = cumm+length
            
        ## 1.1 demographic
        # gender
        if dataset == 'nlsw':
            stats_dict['individual_unit']['demographic']['gender']={"male": 0, "female": 1, "others": 0}
        elif dataset == 'nlsm':
            stats_dict['individual_unit']['demographic']['gender']={"male": 1, "female": 0, "others": 0}
        else:
            stats_dict['individual_unit']['demographic']['gender'] = df_demo['gender'].fillna('none').value_counts(normalize=True).round(4).to_dict()
        # race
        stats_dict['individual_unit']['demographic']['race'] = df_demo['race'].fillna('none').value_counts(normalize=True).round(4).to_dict()
        # birth_year
        ## 计算年代范围
        start_bir = 10*int((df_demo['birth_year'][df_demo['birth_year']>1200].describe()['min']-1800)/10)+1800
        end_bir = 10*ceil((df_demo['birth_year'].describe()['max']-1900)/10)+1900
        if dataset == 'nlsy':
            stats_dict['individual_unit']['demographic']['birth_year'] = pd.cut(df_demo['birth_year'].fillna("none"), [i for i in range(start_bir,end_bir+10,10)], right=False,labels=[f'{i}s' for i in range(start_bir,end_bir,10)]).value_counts(normalize=True).round(4).to_dict()
        else:
            stats_dict['individual_unit']['demographic']['birth_year'] = pd.cut(df_demo['birth_year'], [i for i in range(start_bir,end_bir+10,10)], right=False,labels=[f'{i}s' for i in range(start_bir,end_bir,10)]).cat.add_categories(["none"]).fillna("none").value_counts(normalize=True).round(4).to_dict()
        #education_level
        stats_dict['individual_unit']['demographic']['education_level'] = pd.DataFrame(list(df_demo['education'].dropna()))['highest_education_level'].fillna('none').value_counts(normalize=True).round(4).to_dict()

        ## 1.2 work
        # ever_income_upward_mobility
        stats_dict['individual_unit']['work']['ever_income_upward_mobility'] = person_year_info['income_quantile_upward'].groupby(person_year_info['person_id']).apply(lambda x: x.max()>0).value_counts(normalize=True).round(4).to_dict() #x.max()>0判断是否存在1，事件是否发生过
        # ever_occu_change
        stats_dict['individual_unit']['work']['ever_occu_change'] = person_year_info['occu_change'].groupby(person_year_info['person_id']).apply(lambda x: x.max()>0).value_counts(normalize=True).round(4).to_dict()
        # ever_industry_change
        if dataset == 'psid':
            stats_dict['individual_unit']['work']['ever_industry_change'] = df_people_indu_level.apply(lambda x: len(set(x[p_70_start:p_70_end+1]))+len(set(x[p_00_start:p_00_end+1]))+len(set(x[p_10_start:p_10_end+1]))>3, axis=1).value_counts(normalize=True).round(4).to_dict()
        if dataset == 'nlsy':
            stats_dict['individual_unit']['work']['ever_industry_change'] = df_people_indu_level.apply(lambda x: len(set(x[y_70_start:y_70_end+1]))+len(set(x[y_00_4_start:y_00_4_end+1]))>2, axis=1).value_counts(normalize=True).round(4).to_dict()
        if dataset == 'nlsw':
            stats_dict['individual_unit']['work']['ever_industry_change'] = df_people_indu_level.apply(lambda x: len(set(x[w_60_start:w_60_end+1]))+len(set(x[w_90_start:w_90_end+1]))>2, axis=1).value_counts(normalize=True).round(4).to_dict()    
        if dataset == 'nlsm':
            stats_dict['individual_unit']['work']['ever_industry_change'] = df_people_indu_level.apply(lambda x: len(set(x))>1, axis=1).value_counts(normalize=True).round(4).to_dict()     
        #len(set(x[y_70_start:y_70_end+1]))+len(set(x[y_00_4_start:y_00_4_end+1]))
        ## 1.3 life
        # 定义提取life_sequence序列的函数
        def everfun(row, colname):
            if list(filter(None, row))==[]:
                return 'none'
            elif pd.DataFrame(list(filter(None, list(row))))[colname].max()>0:
                return True
            else:
                return False
        df_life = pd.DataFrame(people_dict[0]['life_sequence'])
        # ever_married
        stats_dict['individual_unit']['life']['ever_married'] = pd.DataFrame(list(pd.DataFrame(people_dict)['life_sequence'])).apply(lambda row: everfun(row, 'marriage_status_change'), axis=1).value_counts(normalize=True).round(4).to_dict()

        stats_dict['individual_unit']['life']['ever_have_child'] = pd.DataFrame(list(pd.DataFrame(people_dict)['life_sequence'])).apply(lambda row: everfun(row, 'child_under_18'), axis=1).value_counts(normalize=True).round(4).to_dict()
        # ever_migrated
        stats_dict['individual_unit']['life']['ever_migrated'] = pd.DataFrame(list(pd.DataFrame(people_dict)['life_sequence'])).apply(lambda row: everfun(row, 'migration_status'), axis=1).value_counts(normalize=True).round(4).to_dict()

        ### person_year_unit
        def count_percent(x):
            per = (x>0).value_counts(normalize=True).round(4).to_dict()
            return per
        ## work
        stats_dict['person_year_unit']['work']['income_upward_mobility'] = count_percent(person_year_info['income_quantile_upward'])
        stats_dict['person_year_unit']['work']['income_downward_mobility'] = count_percent(person_year_info['income_quantile_downward'])
        stats_dict['person_year_unit']['work']['occu_change'] = count_percent(person_year_info['occu_change'])
        # industry_change（特殊）
        stats_dict['person_year_unit']['work']['industry_change'] = {"true":0, "false":0}
        stats_dict['person_year_unit']['work']['industry_change']["true"] = round((df_industry[df_industry>0].sum().sum())/(df_industry.shape[0]*df_industry.shape[1]), 4)
        stats_dict['person_year_unit']['work']['industry_change']["false"] = 1-stats_dict['person_year_unit']['work']['industry_change']["true"]
        ## life
        if dataset == 'nlsy':
            lfe_trans_list = ['have child(ren) under 18_to_have no child under 18',
            'have no child under 18_to_have child(ren) under 18', 'migration', 'central_nocentral', 'nocentral_central', 'other_migration',
            'marrital_status-single_to_couple', 'marrital_status-couple_to_single',
            'marrital_status-single_to_single']
            lfe_name_list = ['childbearing_yes_no','childbearing_no_yes', 'has_migration', 'central_nocentral', 'nocentral_central', 'other_migration','single_couple', 'couple_single', 'single_single']
        else:
            lfe_trans_list = ['have child(ren) under 18_to_have no child under 18',
            'have no child under 18_to_have child(ren) under 18', 'migration',
            'marrital_status-single_to_couple', 'marrital_status-couple_to_single',
            'marrital_status-single_to_single']
            lfe_name_list = ['childbearing_yes_no','childbearing_no_yes', 'has_migration', 'single_couple', 'couple_single', 'single_single']
            
        for idx, event in enumerate(lfe_trans_list):
            stats_dict['person_year_unit']['life'][lfe_name_list[idx]] = count_percent(person_year_info[event])
        ## income_upward_mobility_trend
        # relative_time
        stats_dict['person_year_unit']['income_upward_mobility_trend']['relative_time'] = person_year_info['income_quantile_upward'].groupby(person_year_info['rank']).apply(lambda x:count_percent(x)).unstack().dropna().to_dict(orient ='index')
        # absolute_time
        stats_dict['person_year_unit']['income_upward_mobility_trend']['absolute_time'] = person_year_info['income_quantile_upward'].groupby(person_year_info['year']).apply(lambda x:count_percent(x)).unstack().dropna().to_dict(orient ='index')

        ## income_downward_mobility_trend
        # relative_time
        stats_dict['person_year_unit']['income_downward_mobility_trend']['relative_time'] = person_year_info['income_quantile_downward'].groupby(person_year_info['rank']).apply(lambda x:count_percent(x)).unstack().dropna().to_dict(orient ='index')
        # absolute_time
        stats_dict['person_year_unit']['income_downward_mobility_trend']['absolute_time'] = person_year_info['income_quantile_downward'].groupby(person_year_info['year']).apply(lambda x:count_percent(x)).unstack().dropna().to_dict(orient ='index')

    
        stats_dict_list.append(stats_dict)
        
    separate_dict["group_statistics"] = stats_dict_list   
    ### 输出
    with open('D:/A李杜若/留学/科研/可视化_王懿芳学姐/CFPS/NLS/4-descriptive-stats/'+dataset+'-stats-race.json', 'w') as f:
        json.dump(separate_dict,f)

### education group

In [8]:
with open('psid_imputed.json') as json_file:
    people_dict0 = json.load(json_file)

person_id
1002       {'year': None, 'highest_education_level': None...
1003       {'year': None, 'highest_education_level': None...
2002       {'year': None, 'highest_education_level': 'hig...
2170       {'year': None, 'highest_education_level': None...
3001       {'year': None, 'highest_education_level': None...
                                 ...
9304001    {'year': None, 'highest_education_level': 'col...
9305001    {'year': None, 'highest_education_level': 'hig...
9306001    {'year': 1975, 'highest_education_level': 'col...
9307001    {'year': None, 'highest_education_level': 'hig...
9308002    {'year': None, 'highest_education_level': 'hig...
Name: education, Length: 31286, dtype: object

In [18]:
dd1 = pd.DataFrame(list(pd.DataFrame(people_dict0)['basic_info'])).set_index(pd.Index(pd.DataFrame(people_dict0)['person_id'])).dropna()
dd = pd.DataFrame(list(dd1['education'])).set_index(dd1.index)
#dd[dd['education']['highest_education_level'] == 'high-school'].index()

,birth_year,gender,race,first_job,education
person_id,,,,,
1002,1922,female,white,"{'year': None, 'income': None, 'occupation': '5'}","{'year': None, 'highest_education_level': None..."
1003,1947,male,white,"{'year': 1967, 'income': None, 'occupation': '7'}","{'year': None, 'highest_education_level': None..."
2002,1912,female,white,"{'year': None, 'income': None, 'occupation': '7'}","{'year': None, 'highest_education_level': 'hig..."
2170,1907,male,white,"{'year': None, 'income': None, 'occupation': '7'}","{'year': None, 'highest_education_level': None..."
3001,1891,male,white,"{'year': None, 'income': None, 'occupation': '8'}","{'year': None, 'highest_education_level': None..."
...,...,...,...,...,...
9304001,1929,male,white,"{'year': None, 'income': None, 'occupation': '7'}","{'year': None, 'highest_education_level': 'col..."
9305001,1950,male,white,"{'year': None, 'income': None, 'occupation': '7'}","{'year': None, 'highest_education_level': 'hig..."
9306001,1953,male,white,"{'year': None, 'income': None, 'occupation': '9'}","{'year': 1975, 'highest_education_level': 'col..."
9307001,1949,female,black,"{'year': None, 'income': None, 'occupation': '7'}","{'year': None, 'highest_education_level': 'hig..."
9308002,1967,female,other,"{'year': None, 'income': None, 'occupation': N...","{'year': None, 'highest_education_level': 'hig..."

In [19]:
def stats_dictionary(dataset):
    with open(dataset + '_imputed.json') as json_file:
        people_dict0 = json.load(json_file)
    person_year_info0 =pd.read_csv(dataset + '-person-year-combine.csv').set_index('person_id', drop=False)
    person_year_info0.index = person_year_info0.index.astype('string')
    person_year_info0.index.name = None
    if dataset == 'nlsy':
        person_year_info0['migration']= person_year_info0[['central_nocentral', 'nocentral_central', 'other_migration']].sum(axis=1)
        person_year_info0[person_year_info0<0]=-1

    df_people_indu_level0 = pd.read_csv(dataset + '_industry_info.csv', index_col='Unnamed: 0')
    df_people_indu_level0.index = df_people_indu_level0.index.astype('string')
    df_industry0 = pd.read_csv(dataset + '_industry_change_abs.csv', index_col='Unnamed: 0')
    df_industry0.index = df_industry0.index.astype('string')
    ### 0.准备
    separate_dict = {
        "dataset_size":5000,
        "group_statistics":[] 
    }   
    ## 储存edu分别的stats_dict
    stats_dict_list = []
    edu_list = ['college', 'high-school', 'high-school-noncompletion']
    ## 储存person_id
    dd1 = pd.DataFrame(list(pd.DataFrame(people_dict0)['basic_info'])).set_index(pd.Index(pd.DataFrame(people_dict0)['person_id'])).dropna()
    dd = pd.DataFrame(list(dd1['education'])).set_index(dd1.index)

    # if dataset == "nlsw":
    #     w_id_list = list(dd.index)
    #     b_id_list = []
    # elif dataset == 'nlsm':
    #     f_id_list = []
    #     m_id_list = list(dd.index)
    # else:
    edu_id_lists = []
    for edu in edu_list:
        edu_id_lists.append(list(dd[dd['highest_education_level'] == edu].index))
        
    ## 获取dataset_size
    total_num = len(people_dict0)
    separate_dict['dataset_size'] = total_num
    
    for e_idx, edu in enumerate(edu_list):
        # if (dataset == 'nlsw' and race == 'male') or (dataset == 'nlsm' and race == 'female'):
        #     continue

        # 每次都要重新创建新的dict，不然会连为一体
        stats_dict = {
        "individual_unit": {
            "demographic": {
                "gender": {"male": 0.45, "female": 0.5, "others": 0.05},
                "race": {"white": 0.6, "black": 0.35, "others": 0.05}, 
                "birth_year": {"70": 0.45, "80": 0.35, "90": 0.2},
                "education_level": {"high-school-noncompletion": 0.5, "high-school": 0.3, "college": 0.15, "none": 0.05}, 
            },
            "work": {  # 这个人至少发生一次如下event，就计数为1。统计label为1的人数占总人数的百分比
                "ever_income_upward_mobility": 0.01,
                "ever_occu_change": 0.002,
                "ever_industry_change": 0.003
            },
            "life": {
                "ever_married": 0.6,
                "ever_have_child": 0.4,
                "ever_migrated": 0.2
            }
        },
        "person_year_unit": {
            "work": {
                "income_upward_mobility": 0.001,
                "income_downward_mobility": 0.001,
                "occu_change": 0.002,
                "industry_change": 0.003
            },
            "life": {
                # 1. transfer events
                "single_couple": 0.02,
                "couple_single": 0.01,
                "childbearing_no_yes": 0.01,
            },
            "income_upward_mobility_trend": {
                "relative_time": {
                    "1": 0.02, # 含义：工作第1年，相比于工作第0年，发生upward mobility的人占所有人数的百分之多少
                    "2": 0.04,
                    
                },
                "absolute_time": {
                    "1966": 0.05, # 含义：1966年发生upward mobility的人占所有人数的百分之多少
                    "1967": 0.06,
                    
                }
            }, 
            "income_downward_mobility_trend": {
                "relative_time": {
                    "1": 0.02, 
                    "2": 0.04,
                    
                },
                "absolute_time": {
                    "1966": 0.05, 
                    "1967": 0.06,
                    
                }
            }, 
        }
    }
        edu_id_list = edu_id_lists[e_idx]
        stats_dict['group_name']=edu
        
        ### 1.individual_unit
        # 获取指定性别的 people_dict
        people_dict = [person for person in people_dict0 if person['person_id'] in edu_id_list]
        df_demo = pd.DataFrame(list(pd.DataFrame(people_dict)['basic_info']))
        # 获取指定性别的 person_year_info
        person_year_info = person_year_info0.loc[person_year_info0.index.intersection(edu_id_list)]
        # 获取指定性别的industry info
        df_people_indu_level = df_people_indu_level0.loc[df_people_indu_level0.index.intersection(edu_id_list)]
        df_industry = df_industry0.loc[df_industry0.index.intersection(edu_id_list)]
        
        # rank是为了绝对对齐
        cumm = 0
        person_year_info['rank']=0
        for idx, length  in enumerate(person_year_info.groupby('person_id').size()):
            person_year_info['rank'][cumm:cumm+length]=range(length)
            cumm = cumm+length
            
        ## 1.1 demographic
        # gender
        if dataset == 'nlsw':
            stats_dict['individual_unit']['demographic']['gender']={"male": 0, "female": 1, "others": 0}
        elif dataset == 'nlsm':
            stats_dict['individual_unit']['demographic']['gender']={"male": 1, "female": 0, "others": 0}
        else:
            stats_dict['individual_unit']['demographic']['gender'] = df_demo['gender'].fillna('none').value_counts(normalize=True).round(4).to_dict()
        # race
        stats_dict['individual_unit']['demographic']['race'] = df_demo['race'].fillna('none').value_counts(normalize=True).round(4).to_dict()
        # birth_year
        ## 计算年代范围
        start_bir = 10*int((df_demo['birth_year'][df_demo['birth_year']>1200].describe()['min']-1800)/10)+1800
        end_bir = 10*ceil((df_demo['birth_year'].describe()['max']-1900)/10)+1900
        if dataset == 'nlsy':
            stats_dict['individual_unit']['demographic']['birth_year'] = pd.cut(df_demo['birth_year'].fillna("none"), [i for i in range(start_bir,end_bir+10,10)], right=False,labels=[f'{i}s' for i in range(start_bir,end_bir,10)]).value_counts(normalize=True).round(4).to_dict()
        else:
            stats_dict['individual_unit']['demographic']['birth_year'] = pd.cut(df_demo['birth_year'], [i for i in range(start_bir,end_bir+10,10)], right=False,labels=[f'{i}s' for i in range(start_bir,end_bir,10)]).cat.add_categories(["none"]).fillna("none").value_counts(normalize=True).round(4).to_dict()
        #education_level
        stats_dict['individual_unit']['demographic']['education_level'] = pd.DataFrame(list(df_demo['education'].dropna()))['highest_education_level'].fillna('none').value_counts(normalize=True).round(4).to_dict()

        ## 1.2 work
        # ever_income_upward_mobility
        stats_dict['individual_unit']['work']['ever_income_upward_mobility'] = person_year_info['income_quantile_upward'].groupby(person_year_info['person_id']).apply(lambda x: x.max()>0).value_counts(normalize=True).round(4).to_dict() #x.max()>0判断是否存在1，事件是否发生过
        # ever_occu_change
        stats_dict['individual_unit']['work']['ever_occu_change'] = person_year_info['occu_change'].groupby(person_year_info['person_id']).apply(lambda x: x.max()>0).value_counts(normalize=True).round(4).to_dict()
        # ever_industry_change
        if dataset == 'psid':
            stats_dict['individual_unit']['work']['ever_industry_change'] = df_people_indu_level.apply(lambda x: len(set(x[p_70_start:p_70_end+1]))+len(set(x[p_00_start:p_00_end+1]))+len(set(x[p_10_start:p_10_end+1]))>3, axis=1).value_counts(normalize=True).round(4).to_dict()
        if dataset == 'nlsy':
            stats_dict['individual_unit']['work']['ever_industry_change'] = df_people_indu_level.apply(lambda x: len(set(x[y_70_start:y_70_end+1]))+len(set(x[y_00_4_start:y_00_4_end+1]))>2, axis=1).value_counts(normalize=True).round(4).to_dict()
        if dataset == 'nlsw':
            stats_dict['individual_unit']['work']['ever_industry_change'] = df_people_indu_level.apply(lambda x: len(set(x[w_60_start:w_60_end+1]))+len(set(x[w_90_start:w_90_end+1]))>2, axis=1).value_counts(normalize=True).round(4).to_dict()    
        if dataset == 'nlsm':
            stats_dict['individual_unit']['work']['ever_industry_change'] = df_people_indu_level.apply(lambda x: len(set(x))>1, axis=1).value_counts(normalize=True).round(4).to_dict()     
        #len(set(x[y_70_start:y_70_end+1]))+len(set(x[y_00_4_start:y_00_4_end+1]))
        ## 1.3 life
        # 定义提取life_sequence序列的函数
        def everfun(row, colname):
            if list(filter(None, row))==[]:
                return 'none'
            elif pd.DataFrame(list(filter(None, list(row))))[colname].max()>0:
                return True
            else:
                return False
        df_life = pd.DataFrame(people_dict[0]['life_sequence'])
        # ever_married
        stats_dict['individual_unit']['life']['ever_married'] = pd.DataFrame(list(pd.DataFrame(people_dict)['life_sequence'])).apply(lambda row: everfun(row, 'marriage_status_change'), axis=1).value_counts(normalize=True).round(4).to_dict()

        stats_dict['individual_unit']['life']['ever_have_child'] = pd.DataFrame(list(pd.DataFrame(people_dict)['life_sequence'])).apply(lambda row: everfun(row, 'child_under_18'), axis=1).value_counts(normalize=True).round(4).to_dict()
        # ever_migrated
        stats_dict['individual_unit']['life']['ever_migrated'] = pd.DataFrame(list(pd.DataFrame(people_dict)['life_sequence'])).apply(lambda row: everfun(row, 'migration_status'), axis=1).value_counts(normalize=True).round(4).to_dict()

        ### person_year_unit
        def count_percent(x):
            per = (x>0).value_counts(normalize=True).round(4).to_dict()
            return per
        ## work
        stats_dict['person_year_unit']['work']['income_upward_mobility'] = count_percent(person_year_info['income_quantile_upward'])
        stats_dict['person_year_unit']['work']['income_downward_mobility'] = count_percent(person_year_info['income_quantile_downward'])
        stats_dict['person_year_unit']['work']['occu_change'] = count_percent(person_year_info['occu_change'])
        # industry_change（特殊）
        stats_dict['person_year_unit']['work']['industry_change'] = {"true":0, "false":0}
        stats_dict['person_year_unit']['work']['industry_change']["true"] = round((df_industry[df_industry>0].sum().sum())/(df_industry.shape[0]*df_industry.shape[1]), 4)
        stats_dict['person_year_unit']['work']['industry_change']["false"] = 1-stats_dict['person_year_unit']['work']['industry_change']["true"]
        ## life
        if dataset == 'nlsy':
            lfe_trans_list = ['have child(ren) under 18_to_have no child under 18',
            'have no child under 18_to_have child(ren) under 18', 'migration', 'central_nocentral', 'nocentral_central', 'other_migration',
            'marrital_status-single_to_couple', 'marrital_status-couple_to_single',
            'marrital_status-single_to_single']
            lfe_name_list = ['childbearing_yes_no','childbearing_no_yes', 'has_migration', 'central_nocentral', 'nocentral_central', 'other_migration','single_couple', 'couple_single', 'single_single']
        else:
            lfe_trans_list = ['have child(ren) under 18_to_have no child under 18',
            'have no child under 18_to_have child(ren) under 18', 'migration',
            'marrital_status-single_to_couple', 'marrital_status-couple_to_single',
            'marrital_status-single_to_single']
            lfe_name_list = ['childbearing_yes_no','childbearing_no_yes', 'has_migration', 'single_couple', 'couple_single', 'single_single']
            
        for idx, event in enumerate(lfe_trans_list):
            stats_dict['person_year_unit']['life'][lfe_name_list[idx]] = count_percent(person_year_info[event])
        ## income_upward_mobility_trend
        # relative_time
        stats_dict['person_year_unit']['income_upward_mobility_trend']['relative_time'] = person_year_info['income_quantile_upward'].groupby(person_year_info['rank']).apply(lambda x:count_percent(x)).unstack().dropna().to_dict(orient ='index')
        # absolute_time
        stats_dict['person_year_unit']['income_upward_mobility_trend']['absolute_time'] = person_year_info['income_quantile_upward'].groupby(person_year_info['year']).apply(lambda x:count_percent(x)).unstack().dropna().to_dict(orient ='index')

        ## income_downward_mobility_trend
        # relative_time
        stats_dict['person_year_unit']['income_downward_mobility_trend']['relative_time'] = person_year_info['income_quantile_downward'].groupby(person_year_info['rank']).apply(lambda x:count_percent(x)).unstack().dropna().to_dict(orient ='index')
        # absolute_time
        stats_dict['person_year_unit']['income_downward_mobility_trend']['absolute_time'] = person_year_info['income_quantile_downward'].groupby(person_year_info['year']).apply(lambda x:count_percent(x)).unstack().dropna().to_dict(orient ='index')

    
        stats_dict_list.append(stats_dict)
        
    separate_dict["group_statistics"] = stats_dict_list   
    ### 输出
    with open('D:/A李杜若/留学/科研/可视化_王懿芳学姐/CFPS/NLS/4-descriptive-stats/'+dataset+'-stats-edu.json', 'w') as f:
        json.dump(separate_dict,f)

### birth_year_range group

In [5]:
def stats_dictionary(dataset):
    with open(dataset + '_imputed.json') as json_file:
        people_dict0 = json.load(json_file)
    person_year_info0 =pd.read_csv(dataset + '-person-year-combine.csv').set_index('person_id', drop=False)
    person_year_info0.index = person_year_info0.index.astype('string')
    person_year_info0.index.name = None
    if dataset == 'nlsy':
        person_year_info0['migration']= person_year_info0[['central_nocentral', 'nocentral_central', 'other_migration']].sum(axis=1)
        person_year_info0[person_year_info0<0]=-1

    df_people_indu_level0 = pd.read_csv(dataset + '_industry_info.csv', index_col='Unnamed: 0')
    df_people_indu_level0.index = df_people_indu_level0.index.astype('string')
    df_industry0 = pd.read_csv(dataset + '_industry_change_abs.csv', index_col='Unnamed: 0')
    df_industry0.index = df_industry0.index.astype('string')
    ### 0.准备
    separate_dict = {
        "dataset_size":5000,
        "group_statistics":[] 
    }   
    ## 储存'white','black','other'分别的stats_dict
    stats_dict_list = []
    ## 储存person_id
    dd = pd.DataFrame(list(pd.DataFrame(people_dict0)['basic_info'])).set_index(pd.Index(pd.DataFrame(people_dict0)['person_id']))
    start_bir = 1900
    end_bir = 10*ceil((dd['birth_year'].describe()['max']-1900)/10)+1900
    dd['birth_year_range'] = pd.cut(dd['birth_year'], [i for i in range(start_bir,end_bir+10,10)], right=False,labels=[f'{i}s' for i in range(start_bir,end_bir,10)]).cat.add_categories(["none"]).fillna("none")
    year_range_list = list(pd.Categorical(dd['birth_year_range']).categories)[:-1]
    
    
    # if dataset == "nlsw":
    #     w_id_list = list(dd.index)
    #     b_id_list = []
    # elif dataset == 'nlsm':
    #     f_id_list = []
    #     m_id_list = list(dd.index)
    # else:
    yr_id_lists = []
    for year_range in year_range_list:
        yr_id_lists.append(list(dd[dd['birth_year_range'] == year_range].index))
        
    ## 获取dataset_size
    total_num = len(people_dict0)
    separate_dict['dataset_size'] = total_num
    
    for y_idx, year_range in enumerate(year_range_list):
        # if (dataset == 'nlsw' and year_range == 'male') or (dataset == 'nlsm' and year_range == 'female'):
        #     continue

        # 每次都要重新创建新的dict，不然会连为一体
        stats_dict = {
        "individual_unit": {
            "demographic": {
                "gender": {"male": 0.45, "female": 0.5, "others": 0.05},
                "year_range": {"white": 0.6, "black": 0.35, "others": 0.05}, 
                "birth_year": {"70": 0.45, "80": 0.35, "90": 0.2},
                "education_level": {"high-school-noncompletion": 0.5, "high-school": 0.3, "college": 0.15, "none": 0.05}, 
            },
            "work": {  # 这个人至少发生一次如下event，就计数为1。统计label为1的人数占总人数的百分比
                "ever_income_upward_mobility": 0.01,
                "ever_occu_change": 0.002,
                "ever_industry_change": 0.003
            },
            "life": {
                "ever_married": 0.6,
                "ever_have_child": 0.4,
                "ever_migrated": 0.2
            }
        },
        "person_year_unit": {
            "work": {
                "income_upward_mobility": 0.001,
                "income_downward_mobility": 0.001,
                "occu_change": 0.002,
                "industry_change": 0.003
            },
            "life": {
                # 1. transfer events
                "single_couple": 0.02,
                "couple_single": 0.01,
                "childbearing_no_yes": 0.01,
            },
            "income_upward_mobility_trend": {
                "relative_time": {
                    "1": 0.02, # 含义：工作第1年，相比于工作第0年，发生upward mobility的人占所有人数的百分之多少
                    "2": 0.04,
                    
                },
                "absolute_time": {
                    "1966": 0.05, # 含义：1966年发生upward mobility的人占所有人数的百分之多少
                    "1967": 0.06,
                    
                }
            }, 
            "income_downward_mobility_trend": {
                "relative_time": {
                    "1": 0.02, 
                    "2": 0.04,
                    
                },
                "absolute_time": {
                    "1966": 0.05, 
                    "1967": 0.06,
                    
                }
            }, 
        }
    }
        yr_id_list = yr_id_lists[y_idx]
        stats_dict['group_name']=year_range
        
        ### 1.individual_unit
        # 获取指定年份的 people_dict
        people_dict = [person for person in people_dict0 if person['person_id'] in yr_id_list]
        df_demo = pd.DataFrame(list(pd.DataFrame(people_dict)['basic_info']))
        # 获取指定年份的 person_year_info
        person_year_info = person_year_info0.loc[person_year_info0.index.intersection(yr_id_list)]
        # 获取指定年份的industry info
        df_people_indu_level = df_people_indu_level0.loc[df_people_indu_level0.index.intersection(yr_id_list)]
        df_industry = df_industry0.loc[df_industry0.index.intersection(yr_id_list)]
        
        # rank是为了绝对对齐
        cumm = 0
        person_year_info['rank']=0
        for idx, length  in enumerate(person_year_info.groupby('person_id').size()):
            person_year_info['rank'][cumm:cumm+length]=range(length)
            cumm = cumm+length
            
        ## 1.1 demographic
        # gender
        if dataset == 'nlsw':
            stats_dict['individual_unit']['demographic']['gender']={"male": 0, "female": 1, "others": 0}
        elif dataset == 'nlsm':
            stats_dict['individual_unit']['demographic']['gender']={"male": 1, "female": 0, "others": 0}
        else:
            stats_dict['individual_unit']['demographic']['gender'] = df_demo['gender'].fillna('none').value_counts(normalize=True).round(4).to_dict()
        # race
        stats_dict['individual_unit']['demographic']['race'] = df_demo['race'].fillna('none').value_counts(normalize=True).round(4).to_dict()
        # birth_year
        ## 计算年代范围
        start_bir = 10*int((df_demo['birth_year'][df_demo['birth_year']>1200].describe()['min']-1800)/10)+1800
        end_bir = 10*ceil((df_demo['birth_year'].describe()['max']-1900)/10)+1900
        if dataset == 'nlsy':
            stats_dict['individual_unit']['demographic']['birth_year'] = pd.cut(df_demo['birth_year'].fillna("none"), [i for i in range(start_bir,end_bir+10,10)], right=False,labels=[f'{i}s' for i in range(start_bir,end_bir,10)]).value_counts(normalize=True).round(4).to_dict()
        else:
            stats_dict['individual_unit']['demographic']['birth_year'] = pd.cut(df_demo['birth_year'], [i for i in range(start_bir,end_bir+10,10)], right=False,labels=[f'{i}s' for i in range(start_bir,end_bir,10)]).cat.add_categories(["none"]).fillna("none").value_counts(normalize=True).round(4).to_dict()
        #education_level
        stats_dict['individual_unit']['demographic']['education_level'] = pd.DataFrame(list(df_demo['education'].dropna()))['highest_education_level'].fillna('none').value_counts(normalize=True).round(4).to_dict()

        ## 1.2 work
        # ever_income_upward_mobility
        stats_dict['individual_unit']['work']['ever_income_upward_mobility'] = person_year_info['income_quantile_upward'].groupby(person_year_info['person_id']).apply(lambda x: x.max()>0).value_counts(normalize=True).round(4).to_dict() #x.max()>0判断是否存在1，事件是否发生过
        # ever_occu_change
        stats_dict['individual_unit']['work']['ever_occu_change'] = person_year_info['occu_change'].groupby(person_year_info['person_id']).apply(lambda x: x.max()>0).value_counts(normalize=True).round(4).to_dict()
        # ever_industry_change
        if dataset == 'psid':
            stats_dict['individual_unit']['work']['ever_industry_change'] = df_people_indu_level.apply(lambda x: len(set(x[p_70_start:p_70_end+1]))+len(set(x[p_00_start:p_00_end+1]))+len(set(x[p_10_start:p_10_end+1]))>3, axis=1).value_counts(normalize=True).round(4).to_dict()
        if dataset == 'nlsy':
            stats_dict['individual_unit']['work']['ever_industry_change'] = df_people_indu_level.apply(lambda x: len(set(x[y_70_start:y_70_end+1]))+len(set(x[y_00_4_start:y_00_4_end+1]))>2, axis=1).value_counts(normalize=True).round(4).to_dict()
        if dataset == 'nlsw':
            stats_dict['individual_unit']['work']['ever_industry_change'] = df_people_indu_level.apply(lambda x: len(set(x[w_60_start:w_60_end+1]))+len(set(x[w_90_start:w_90_end+1]))>2, axis=1).value_counts(normalize=True).round(4).to_dict()    
        if dataset == 'nlsm':
            stats_dict['individual_unit']['work']['ever_industry_change'] = df_people_indu_level.apply(lambda x: len(set(x))>1, axis=1).value_counts(normalize=True).round(4).to_dict()     
        #len(set(x[y_70_start:y_70_end+1]))+len(set(x[y_00_4_start:y_00_4_end+1]))
        ## 1.3 life
        # 定义提取life_sequence序列的函数
        def everfun(row, colname):
            if list(filter(None, row))==[]:
                return 'none'
            elif pd.DataFrame(list(filter(None, list(row))))[colname].max()>0:
                return True
            else:
                return False
        df_life = pd.DataFrame(people_dict[0]['life_sequence'])
        # ever_married
        stats_dict['individual_unit']['life']['ever_married'] = pd.DataFrame(list(pd.DataFrame(people_dict)['life_sequence'])).apply(lambda row: everfun(row, 'marriage_status_change'), axis=1).value_counts(normalize=True).round(4).to_dict()

        stats_dict['individual_unit']['life']['ever_have_child'] = pd.DataFrame(list(pd.DataFrame(people_dict)['life_sequence'])).apply(lambda row: everfun(row, 'child_under_18'), axis=1).value_counts(normalize=True).round(4).to_dict()
        # ever_migrated
        stats_dict['individual_unit']['life']['ever_migrated'] = pd.DataFrame(list(pd.DataFrame(people_dict)['life_sequence'])).apply(lambda row: everfun(row, 'migration_status'), axis=1).value_counts(normalize=True).round(4).to_dict()

        ### person_year_unit
        def count_percent(x):
            per = (x>0).value_counts(normalize=True).round(4).to_dict()
            return per
        ## work
        stats_dict['person_year_unit']['work']['income_upward_mobility'] = count_percent(person_year_info['income_quantile_upward'])
        stats_dict['person_year_unit']['work']['income_downward_mobility'] = count_percent(person_year_info['income_quantile_downward'])
        stats_dict['person_year_unit']['work']['occu_change'] = count_percent(person_year_info['occu_change'])
        # industry_change（特殊）
        stats_dict['person_year_unit']['work']['industry_change'] = {"true":0, "false":0}
        stats_dict['person_year_unit']['work']['industry_change']["true"] = round((df_industry[df_industry>0].sum().sum())/(df_industry.shape[0]*df_industry.shape[1]), 4)
        stats_dict['person_year_unit']['work']['industry_change']["false"] = 1-stats_dict['person_year_unit']['work']['industry_change']["true"]
        ## life
        if dataset == 'nlsy':
            lfe_trans_list = ['have child(ren) under 18_to_have no child under 18',
            'have no child under 18_to_have child(ren) under 18', 'migration', 'central_nocentral', 'nocentral_central', 'other_migration',
            'marrital_status-single_to_couple', 'marrital_status-couple_to_single',
            'marrital_status-single_to_single']
            lfe_name_list = ['childbearing_yes_no','childbearing_no_yes', 'has_migration', 'central_nocentral', 'nocentral_central', 'other_migration','single_couple', 'couple_single', 'single_single']
        else:
            lfe_trans_list = ['have child(ren) under 18_to_have no child under 18',
            'have no child under 18_to_have child(ren) under 18', 'migration',
            'marrital_status-single_to_couple', 'marrital_status-couple_to_single',
            'marrital_status-single_to_single']
            lfe_name_list = ['childbearing_yes_no','childbearing_no_yes', 'has_migration', 'single_couple', 'couple_single', 'single_single']
            
        for idx, event in enumerate(lfe_trans_list):
            stats_dict['person_year_unit']['life'][lfe_name_list[idx]] = count_percent(person_year_info[event])
        ## income_upward_mobility_trend
        # relative_time
        stats_dict['person_year_unit']['income_upward_mobility_trend']['relative_time'] = person_year_info['income_quantile_upward'].groupby(person_year_info['rank']).apply(lambda x:count_percent(x)).unstack().dropna().to_dict(orient ='index')
        # absolute_time
        stats_dict['person_year_unit']['income_upward_mobility_trend']['absolute_time'] = person_year_info['income_quantile_upward'].groupby(person_year_info['year']).apply(lambda x:count_percent(x)).unstack().dropna().to_dict(orient ='index')

        ## income_downward_mobility_trend
        # relative_time
        stats_dict['person_year_unit']['income_downward_mobility_trend']['relative_time'] = person_year_info['income_quantile_downward'].groupby(person_year_info['rank']).apply(lambda x:count_percent(x)).unstack().dropna().to_dict(orient ='index')
        # absolute_time
        stats_dict['person_year_unit']['income_downward_mobility_trend']['absolute_time'] = person_year_info['income_quantile_downward'].groupby(person_year_info['year']).apply(lambda x:count_percent(x)).unstack().dropna().to_dict(orient ='index')

    
        stats_dict_list.append(stats_dict)
        
    separate_dict["group_statistics"] = stats_dict_list   
    ### 输出
    with open('D:/A李杜若/留学/科研/可视化_王懿芳学姐/CFPS/NLS/4-descriptive-stats/'+dataset+'-stats-year_range.json', 'w') as f:
        json.dump(separate_dict,f)

### 运行主函数

In [21]:
stats_dictionary('nlsy')

In [ ]:
with open(r"D:\A李杜若\留学\科研\可视化_王懿芳学姐\CFPS\NLS\4-descriptive-stats\nlsw-stats1.json", 'w') as f:
    json.dump(stats_dict,f)

In [ ]:
## income_downward_mobility_trend
# relative_time
def count_percent(x):
    per = 1-(x>0).value_counts(normalize=True)[False]
    return per
stats_dict['person_year_unit']['income_downward_mobility_trend']['relative_time'] = pd.Series.to_dict(person_year_info['income_quantile_downward'].groupby(person_year_info['rank']).apply(lambda x:count_percent(x)))
# absolute_time
stats_dict['person_year_unit']['income_downward_mobility_trend']['absolute_time'] = pd.Series.to_dict(person_year_info['income_quantile_downward'].groupby(person_year_info['year']).apply(lambda x:count_percent(x)))

In [11]:
with open(r"D:\A李杜若\留学\科研\可视化_王懿芳学姐\CFPS\NLS\4-descriptive-stats\psid-stats.json", 'w') as f:
    json.dump(stats_dict,f)

In [125]:
# comb_mar_list = [i for i in list(person_year_info.columns) if i.startswith('marrital_status')]
# stats_dict['individual_unit']['life']['ever_married'] = person_year_info[comb_mar_list].sum(axis=1).groupby(person_year_info['person_id']).apply(lambda x: x.max()>0).value_counts(normalize=True).to_dict()
# ever_have_child
# Method 1: person-year, childbearing status change
# comb_chb_list =  [i for i in list(person_year_info.columns) if i.endswith('under 18')]
# person_year_info[comb_chb_list].sum(axis=1).groupby(person_year_info['person_id']).apply(lambda x: x.max()>0).value_counts(normalize=True).to_dict() 
# {False: 0.557969583251037, True: 0.44203041674896304} 这样没有包括career sequence以前的event
# Method 2: people_dict, child_under_18

In [ ]:
'ever_married': {True: 0.684376851668971,
False: 0.31562314833102906},

In [61]:
start_bir = 10*int((df_demo['birth_year'].describe()['min']-1900)/10)+1900
end_bir = 10*ceil((df_demo['birth_year'].describe()['max']-1900)/10)+1900

In [9]:
pd.cut(df_demo['birth_year'], [i for i in range(start_bir,end_bir+10,10)], right=False,labels=[f'{i}s' for i in range(start_bir,end_bir,10)]).cat.add_categories("none").fillna("none").value_counts(normalize=True).to_dict()

{'1940s': 0.6018608257414227,
 '1950s': 0.3936809459197519,
 'none': 0.004458228338825354}

## 预处理

In [6]:
# 定义根据name返回level_event_n的函数
def get_lfe_key(map, target_lfe_name):
    lfe_n_list = []
    for name in target_lfe_name:
        key = list(map.keys())[list(map.values()).index(name)]
        lfe_n_list.append(key)
    return lfe_n_list

### person-year event 合并

In [7]:
# 定义event函数 input：atrribute； output：由event名称列组成的list + life_event_map
person_year_info = pd.read_csv('nlsw-person-year-2.csv')
person_year_info0 = pd.read_csv('nlsw-person-year.csv')
stable_attr = ['occu_change', 'industry_change', 'income_quantile_upward', 'income_quantile_downward']
def event_creator(stable_attr, marriage_attr, residence_attr):
    total_event_list = []
    mar_event_list = []
    res_event_list = []
    
    mar_n, res_n = len(marriage_attr), len(residence_attr)
    for i in range(mar_n-1):
        for j in range(i+1, mar_n):
            mar_event_list = mar_event_list+[
                marriage_attr[i]+'_to_'+marriage_attr[j],
                marriage_attr[j]+'_to_'+marriage_attr[i]]
            
    
    
    for i in range(res_n-1):
        for j in range(i+1, res_n):
            res_event_list = res_event_list+[
                residence_attr[i]+'_to_'+residence_attr[j],
                residence_attr[j]+'_to_'+residence_attr[i]] 
    
    life_event_list = mar_event_list+["have child(ren) under 18_to_have no child under 18", "have no child under 18_to_have child(ren) under 18"]+res_event_list
              
    life_event_n_list = [f'life_event_{i+1}' for i in range(len(life_event_list))]
    # create life event map
    life_event_map = dict(zip(life_event_n_list, life_event_list))
    # create event name list
    total_event_list = stable_attr + life_event_n_list
    
    return total_event_list, life_event_n_list, life_event_map, mar_event_list, res_event_list

In [27]:
# nlsw
person_year_info = pd.read_csv('nlsw-person-year-2.csv')
person_year_info0 = pd.read_csv('nlsw-person-year.csv')
stable_attr = ['occu_change', 'industry_change', 'income_quantile_upward', 'income_quantile_downward']
marriage_attr_nlsw = [
	   'married spouse present',
       'married spouse absent',
       'widowed',
       'divorced',
       'separate',
       'never married',
       'spouse absent, reason unknown']
residence_attr_nlsw = [
    'non-south',
    'south']
total_event_list, life_event_n_list, life_event_map, mar_event_list, res_event_list = event_creator(stable_attr, marriage_attr_nlsw, residence_attr_nlsw)

basic_attr = ['person_id', 'year', 'age']
column_name_list = basic_attr + total_event_list

# year range
inv_start_year = 1968
inv_end_year = 2003

In [ ]:
# 得到数据集存在的life_event_n
## 更改数据集列名为直接命名，而非life_event_n
## 运行这段前先运行前一段，之后还需要再次运行前一段（life_event_map的改变 & person_year_info0的含义变化）才能运行后一段
person_year_info = pd.read_csv('nlsw-person-year.csv')
basic_attr = ['person_id', 'year', 'age']
stable_attr = ['occu_change', 'industry_change', 'income_quantile_upward', 'income_quantile_downward']
raw_lfe_list = [i for i in list(person_year_info.columns) if i.startswith('life_event')]
new_lde_list = list(map(lambda x: life_event_map[x], raw_lfe_list))
person_year_info.columns = basic_attr+stable_attr+new_lde_list
person_year_info.to_csv('nlsw-person-year-2.csv', index=False)

In [28]:
#raw_lfe_list = [i for i in list(person_year_info.columns) if i.startswith('life_event')]
raw_lfe_list = [i for i in list(person_year_info0.columns) if i.startswith('life_event')]
new_lde_list = list(map(lambda x: life_event_map[x], raw_lfe_list)) # get real exist event list

drop_list = ['married spouse present_to_married spouse absent',
 'married spouse absent_to_married spouse present',
 'married spouse present_to_spouse absent, reason unknown',
 'spouse absent, reason unknown_to_married spouse present',]
df0 = person_year_info.drop(drop_list, axis=1)
# migration
df0['migration'] = df0[res_event_list].sum(axis=1)
df1 = df0.drop(res_event_list, axis=1)
# marrital status
raw_lfe_list = [i for i in list(person_year_info0.columns) if i.startswith('life_event')]
new_lde_list = list(map(lambda x: life_event_map[x], raw_lfe_list))
new_mar_event_list = list(set(mar_event_list).intersection(set(new_lde_list))) # real exist mar event

single_couple = [i for i in list(df1.columns) if i.endswith('married spouse present')]+[i for i in list(df1.columns) if i.endswith('married spouse absent')]
df1['marrital_status-single_to_couple'] = df1[single_couple].sum(axis=1)
couple_single = [i for i in list(df1.columns) if i.startswith('married spouse present')]+['spouse absent, reason unknown_to_separate']+[i for i in list(df1.columns) if i.startswith('married spouse absent')]
df1['marrital_status-couple_to_single'] = df1[couple_single].sum(axis=1)
single_single = [i for i in new_mar_event_list if i not in drop_list+single_couple+couple_single] 
df1['marrital_status-single_to_single'] = df1[single_single].sum(axis=1)
df2 = df1.drop(single_couple+couple_single+single_single, axis=1)
df2.to_csv('nlsw-person-year-combine.csv', index=False)

In [34]:
# nlsy79
person_year_info = pd.read_csv('nlsy-person-year-2.csv')
person_year_info0 = pd.read_csv('nlsy-person-year.csv')
stable_attr = ['occu_change', 'industry_change', 'income_quantile_upward', 'income_quantile_downward']
marriage_attr_nlsw = [
	'never married',
    'married',
    'seperated',
    'divorced',
    'remarried',
    'widowed']
residence_attr_nlsw = [
    'not in SMSA',
    'SMSA, not in central city',
    'SMSE,central city not known',
    'SMSA, in central city']
total_event_list, life_event_n_list, life_event_map, mar_event_list, res_event_list = event_creator(stable_attr, marriage_attr_nlsw, residence_attr_nlsw)

basic_attr = ['person_id', 'year', 'age']
column_name_list = basic_attr + total_event_list

# year range
inv_start_year = 1979
inv_end_year = 2018

In [ ]:
# 得到数据集存在的life_event_n
## 更改数据集列名为直接命名，而非life_event_n
## 运行这段前先运行前一段，之后还需要再次运行前一段（life_event_map的改变 & person_year_info0的含义变化）才能运行后一段
person_year_info = pd.read_csv('nlsy-person-year.csv')
basic_attr = ['person_id', 'year', 'age']
stable_attr = ['occu_change', 'industry_change', 'income_quantile_upward', 'income_quantile_downward']
raw_lfe_list = [i for i in list(person_year_info.columns) if i.startswith('life_event')]
new_lde_list = list(map(lambda x: life_event_map[x], raw_lfe_list))
person_year_info.columns = basic_attr+stable_attr+new_lde_list
person_year_info.to_csv('nlsy-person-year-2.csv', index=False)

In [35]:
#raw_lfe_list = [i for i in list(person_year_info.columns) if i.startswith('life_event')]
raw_lfe_list = [i for i in list(person_year_info0.columns) if i.startswith('life_event')]
new_lde_list = list(map(lambda x: life_event_map[x], raw_lfe_list)) # get real exist event list

df0 = person_year_info
# migration
# Part 1: central_nocentral
central_nocentral = ['SMSA, in central city_to_SMSA, not in central city',
'SMSE,central city not known_to_SMSA, not in central city']
df0['central_nocentral'] = df0[central_nocentral].sum(axis=1)

# Part 2: nocentral_central
nocentral_central = ['SMSA, not in central city_to_SMSA, in central city',
'SMSA, not in central city_to_SMSE,central city not known',
'not in SMSA_to_SMSE,central city not known',]
df0['nocentral_central'] = df0[nocentral_central].sum(axis=1)
# Part 3: other_migration
new_res_event_list = list(set(res_event_list).intersection(set(new_lde_list))) # real exist res event
other_migration = [i for i in new_res_event_list if i not in nocentral_central+central_nocentral] 
df0['other_migration']=df0[other_migration].sum(axis=1)

df1 = df0.drop(new_res_event_list, axis=1)
# marrital status
new_mar_event_list = list(set(mar_event_list).intersection(set(new_lde_list))) # real exist mar event

single_couple = [i for i in list(df1.columns) if i.endswith('to_married')]
df1['marrital_status-single_to_couple'] = df1[single_couple].sum(axis=1)

couple_single = [i for i in list(df1.columns) if i.startswith('married_to')]
df1['marrital_status-couple_to_single'] = df1[couple_single].sum(axis=1)


single_single = [i for i in new_mar_event_list if i not in single_couple+couple_single] 
df1['marrital_status-single_to_single'] = df1[single_single].sum(axis=1)

df2 = df1.drop(single_couple+couple_single+single_single, axis=1)
df2.to_csv('nlsy-person-year-combine.csv', index=False)

In [39]:
# nlsm
person_year_info = pd.read_csv('nlsm-person-year-2.csv')
person_year_info0 = pd.read_csv('nlsm-person-year.csv')
stable_attr = ['occu_change', 'industry_change', 'income_quantile_upward', 'income_quantile_downward']
marriage_attr_nlsw = [
    'married, spouse present',
    'married, spouse absent',
    'widowed',
    'divorced',
    'separated',
    'never married']
residence_attr_nlsw = [
    'non-south',
    'south']
total_event_list, life_event_n_list, life_event_map, mar_event_list, res_event_list = event_creator(stable_attr, marriage_attr_nlsw, residence_attr_nlsw)

basic_attr = ['person_id', 'year', 'age']
column_name_list = basic_attr + total_event_list

# year range
inv_start_year = 1966
inv_end_year = 1981

In [38]:
# 得到数据集存在的life_event_n
## 更改数据集列名为直接命名，而非life_event_n
## 运行这段前先运行前一段，之后还需要再次运行前一段（life_event_map的改变 & person_year_info0的含义变化）才能运行后一段
person_year_info = pd.read_csv('nlsm-person-year.csv')
basic_attr = ['person_id', 'year', 'age']
stable_attr = ['occu_change', 'industry_change', 'income_quantile_upward', 'income_quantile_downward']
raw_lfe_list = [i for i in list(person_year_info.columns) if i.startswith('life_event')]
new_lde_list = list(map(lambda x: life_event_map[x], raw_lfe_list))
person_year_info.columns = basic_attr+stable_attr+new_lde_list
person_year_info.to_csv('nlsm-person-year-2.csv', index=False)

In [40]:
#raw_lfe_list = [i for i in list(person_year_info.columns) if i.startswith('life_event')]
raw_lfe_list = [i for i in list(person_year_info0.columns) if i.startswith('life_event')]
new_lde_list = list(map(lambda x: life_event_map[x], raw_lfe_list)) # get real exist event list

drop_list = ['married, spouse present_to_married, spouse absent',
 'married, spouse absent_to_married, spouse present',]
df0 = person_year_info.drop(drop_list, axis=1)
# migration
df0['migration'] = df0[res_event_list].sum(axis=1)
df1 = df0.drop(res_event_list, axis=1)
# marrital status
raw_lfe_list = [i for i in list(person_year_info0.columns) if i.startswith('life_event')]
new_lde_list = list(map(lambda x: life_event_map[x], raw_lfe_list))
new_mar_event_list = list(set(mar_event_list).intersection(set(new_lde_list))) # real exist mar event

single_couple = [i for i in list(df1.columns) if i.endswith('married, spouse present')]+[i for i in list(df1.columns) if i.endswith('married, spouse absent')]
df1['marrital_status-single_to_couple'] = df1[single_couple].sum(axis=1)

couple_single = [i for i in list(df1.columns) if i.startswith('married, spouse present')]+[i for i in list(df1.columns) if i.startswith('married, spouse absent')]
df1['marrital_status-couple_to_single'] = df1[couple_single].sum(axis=1)

single_single = [i for i in new_mar_event_list if i not in drop_list+single_couple+couple_single] 
df1['marrital_status-single_to_single'] = df1[single_single].sum(axis=1)

df2 = df1.drop(single_couple+couple_single+single_single, axis=1)
df2.to_csv('nlsm-person-year-combine.csv', index=False)

In [44]:
# psid
person_year_info = pd.read_csv('psid-person-year-2.csv')
person_year_info0 = pd.read_csv('psid-person-year.csv')
stable_attr = ['occu_change', 'industry_change', 'income_quantile_upward', 'income_quantile_downward']
marriage_attr_nlsw = [
	'married',
    'widowed',
    'divorced',
    'separated',
    'never married']
residence_attr_nlsw = [
    'northeast',
    'north central',
    'south',
    'west',
    'Alaska, Hawaii',
    'Foreign country']
total_event_list, life_event_n_list, life_event_map, mar_event_list, res_event_list = event_creator(stable_attr, marriage_attr_nlsw, residence_attr_nlsw)

basic_attr = ['person_id', 'year', 'age']
column_name_list = basic_attr + total_event_list

# year range
inv_start_year = 1968
inv_end_year = 2019

In [43]:
# 得到数据集存在的life_event_n
## 更改数据集列名为直接命名，而非life_event_n
## 运行这段前先运行前一段，之后还需要再次运行前一段（life_event_map的改变 & person_year_info0的含义变化）才能运行后一段
person_year_info = pd.read_csv('psid-person-year.csv')
basic_attr = ['person_id', 'year', 'age']
stable_attr = ['occu_change', 'industry_change', 'income_quantile_upward', 'income_quantile_downward']
raw_lfe_list = [i for i in list(person_year_info.columns) if i.startswith('life_event')]
new_lde_list = list(map(lambda x: life_event_map[x], raw_lfe_list))
person_year_info.columns = basic_attr+stable_attr+new_lde_list
person_year_info.to_csv('psid-person-year-2.csv', index=False)

In [45]:
#raw_lfe_list = [i for i in list(person_year_info.columns) if i.startswith('life_event')]
raw_lfe_list = [i for i in list(person_year_info0.columns) if i.startswith('life_event')]
new_lde_list = list(map(lambda x: life_event_map[x], raw_lfe_list)) # get real exist event list

df0 = person_year_info
# migration
new_res_event_list = list(set(res_event_list).intersection(set(new_lde_list))) # real exist mar event
df0['migration'] = df0[new_res_event_list].sum(axis=1)
df1 = df0.drop(new_res_event_list, axis=1)
# marrital status
raw_lfe_list = [i for i in list(person_year_info0.columns) if i.startswith('life_event')]
new_lde_list = list(map(lambda x: life_event_map[x], raw_lfe_list))
new_mar_event_list = list(set(mar_event_list).intersection(set(new_lde_list))) # real exist mar event

single_couple = [i for i in list(df1.columns) if i.endswith('to_married')]
df1['marrital_status-single_to_couple'] = df1[single_couple].sum(axis=1)

couple_single = [i for i in list(df1.columns) if i.startswith('married_to')]
df1['marrital_status-couple_to_single'] = df1[couple_single].sum(axis=1)

single_single = [i for i in new_mar_event_list if i not in single_couple+couple_single] 
df1['marrital_status-single_to_single'] = df1[single_single].sum(axis=1)

df2 = df1.drop(single_couple+couple_single+single_single, axis=1)
df2.to_csv('psid-person-year-combine.csv', index=False)

### 转化industry code

In [89]:
with open('nlsy_imputed.json') as json_file:
    people_dict = json.load(json_file)

In [90]:
# 提取出以年为横坐标的数据，以求每一年的总体分布
# nlsw
# inv_start_year = 1968
# inv_end_year = 2003
# nlsm
# inv_start_year = 1966
# inv_end_year = 1981
# nlsy
inv_start_year = 1979
inv_end_year = 2018
# # psid
# inv_start_year = 1968
# inv_end_year = 2019
df_list = []
for idx, person in enumerate(people_dict):
    if person['career_sequence_statistics']['career_length']!=0:
        pid = people_dict[idx]['person_id']
        s_start_year = person['life_sequence'][0]['year']
        s_end_year = person['life_sequence'][-1]['year']
        idx_start = s_start_year-inv_start_year
        idx_end = s_end_year-inv_start_year       
        df0 = pd.DataFrame(person['life_sequence'], index=range(idx_start, idx_end+1))[['occupation']].rename({'occupation': pid}, axis=1)
        df_list.append(df0)
df_people_occu = pd.concat(df_list, axis=1)

In [91]:
df_people_occu = df_people_occu.astype(float)

In [92]:
# nlsw(1968)
# 68-93: 60 codes
w_60_start = 0
w_60_end = 1994-1968
bin_60_3 = [1,195,199,222,249,290,300,370,379,395,400,545,600,775,800,804,809,890,900,905,959,985,994,995]
# 95-01: 90 codes
w_90_start = 1995-1968
w_90_end = 2002-1968
bin_90_3 = [3,22,37,42,199,202,235,242,285,302,389,402,407,412,427,432,469,472,476,484,499,502,699,702,889,996,997,998]
# 03: 00 codes
w_00 = 2003-1968
bin_00_3 = [1,43,49,95,99,124,129,156,159,196,199,206,209,215,219,255,259,296,299,354,359,365,369,395,399,416,419,425,429,465,469,496,499,593,599,613,619,694,699,762,769,896,899,975,983,984,996,997,998]

# nlsy(1979)
# 79-00: 3 digit, 70 code,
y_70_start = 0
y_70_end = 2001-1979
bin_70_3 = [1 , 195,200 , 245,259 , 285,300 , 395, 400 , 575,600 , 715,739 , 785,800 , 802,820 , 824,900 , 965, 979 , 984]
# 02: 3-digit, 00 code
y_00_3_start = 2002-1979
y_00_3_end = 2003-1979

# 04-18: 4 digit, 00 code
y_00_4_start = 2004-1979
y_00_4_end = 2018-1979
bin_00_4 = [10 , 430, 500 -1, 950,1000-1 , 1240,1300 -1, 1560,1600 -1, 1760,1800 -1, 1860,1900 -1, 1960,2000-1 , 2060, 2100 -1, 2150,2200 -1, 2340,2400 -1, 2550, 2600 -1, 2760,2800 -1, 2960,3000-1 , 3260, 3300 -1, 3650,3700 -1, 3950,4000-1 , 4160,4200 -1, 4250,4300 -1, 4430,4459,4460, 4500 -1, 4650,4700 -1, 4960,5000-1 , 5930,6000-1 , 6130,6200 -1, 6940,7000-1 , 7620,7700 -1, 7750,7800 -1, 7850,7900 -1, 8960,9000-1 , 9750,9800 -1, 9830,9839,9840,9949,9950,9989,9990]

# nlsm(1966)
# 3-digit 60codes

# psid更新过的occupation(1968)
# 1968-2001: 1970 3-digit code, 
p_70_start = 0
p_70_end = 2001-1968
# 2002-2015: 2000 3-digit code,
p_00_start = 2002-1968
p_00_end = 2016-1968
# 2017-2019: 2010 4-digit code
p_10_start = 2017-1968
p_10_end = 2019-1968
bin_10_4 = [10 , 430, 500 -1, 950,1000-1 , 1240,1300 -1, 1560,1600 -1, 1965,2000-1 , 2060, 2100 -1, 2160,2200 -1, 2550, 2600 -1, 2960,3000-1 , 3540, 3600 -1, 3650,3700 -1, 3955,4000-1 , 4160,4200 -1, 4250,4300 -1, 4650,4700 -1, 4965,5000-1 , 5940,6005-1 , 6130,6200 -1, 6940,7700-1 , 8965,9000-1 , 9750,9800 -1, 9830,9998,9999]

In [32]:
# 根据quantile——point划分level
df_level_list = []
for i in range(y_70_start, y_70_end+1):
    df = pd.DataFrame(pd.cut(df_people_occu.loc[i].astype(float), bin_70_3,include_lowest=True))
    df_level_list.append(df)
for i in range(y_00_3_start, y_00_3_end+1):
    df = pd.DataFrame(pd.cut(df_people_occu.loc[i].astype(float), bin_00_3,include_lowest=True))
    df_level_list.append(df)
# i = y_00
# for i in range(df_people_occu.shape[0]):
#     df = pd.DataFrame(pd.cut(df_people_occu.loc[i].astype(float), bin_70_3,include_lowest=True))
#     df_level_list.append(df)
for i in range(y_00_4_start, y_00_4_end+1):
    df = pd.DataFrame(pd.cut(df_people_occu.loc[i].astype(float), bin_00_4,include_lowest=True))
    df_level_list.append(df)
df_people_occu_level = pd.concat(df_level_list,axis=1)

In [33]:
df_people_occu_level

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
1,"(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]",...,"(9.999, 430.0]","(9.999, 430.0]","(9.999, 430.0]","(9.999, 430.0]","(9.999, 430.0]","(9.999, 430.0]","(9.999, 430.0]","(9.999, 430.0]","(9.999, 430.0]","(9.999, 430.0]"
2,"(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]","(0.999, 195.0]","(300.0, 395.0]","(0.999, 195.0]","(0.999, 195.0]","(0.999, 195.0]",...,"(4699.0, 4960.0]","(4699.0, 4960.0]","(4699.0, 4960.0]","(4699.0, 4960.0]","(4699.0, 4960.0]","(4699.0, 4960.0]","(4699.0, 4960.0]","(3999.0, 4160.0]","(3999.0, 4160.0]","(3999.0, 4160.0]"
3,"(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]","(200.0, 245.0]","(200.0, 245.0]","(200.0, 245.0]","(300.0, 395.0]","(300.0, 395.0]","(900.0, 965.0]","(900.0, 965.0]",...,"(4499.0, 4650.0]","(4499.0, 4650.0]","(4499.0, 4650.0]","(4299.0, 4430.0]","(4299.0, 4430.0]","(4299.0, 4430.0]","(4299.0, 4430.0]","(4299.0, 4430.0]","(4299.0, 4430.0]","(2999.0, 3260.0]"
4,NaN,NaN,NaN,"(259.0, 285.0]","(259.0, 285.0]","(259.0, 285.0]","(259.0, 285.0]","(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]",...,"(9.999, 430.0]","(9.999, 430.0]","(9.999, 430.0]","(9.999, 430.0]","(9.999, 430.0]","(9.999, 430.0]","(9.999, 430.0]","(2599.0, 2760.0]","(2599.0, 2760.0]","(2599.0, 2760.0]"
5,"(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]","(0.999, 195.0]","(0.999, 195.0]","(0.999, 195.0]","(0.999, 195.0]","(0.999, 195.0]","(0.999, 195.0]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12681,NaN,"(739.0, 785.0]","(400.0, 575.0]","(400.0, 575.0]","(0.999, 195.0]","(400.0, 575.0]",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12682,NaN,"(600.0, 715.0]","(600.0, 715.0]","(600.0, 715.0]","(600.0, 715.0]","(200.0, 245.0]",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12684,NaN,NaN,NaN,NaN,"(400.0, 575.0]","(400.0, 575.0]",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12685,"(900.0, 965.0]","(900.0, 965.0]","(900.0, 965.0]","(900.0, 965.0]","(0.999, 195.0]","(0.999, 195.0]",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12686,"(600.0, 715.0]","(600.0, 715.0]","(600.0, 715.0]","(400.0, 575.0]","(400.0, 575.0]","(400.0, 575.0]","(600.0, 715.0]","(400.0, 575.0]","(400.0, 575.0]","(400.0, 575.0]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df_people_occu_level.to_csv('nlsy_industry_info.csv', index=True)

### 计算occu变化 包括绝对和相对

In [42]:
df_people_occu_level = pd.read_csv('nlsy_industry_info.csv', index_col=['Unnamed: 0'])
df_people_occu_level

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
1,"(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]",...,"(9.999, 430.0]","(9.999, 430.0]","(9.999, 430.0]","(9.999, 430.0]","(9.999, 430.0]","(9.999, 430.0]","(9.999, 430.0]","(9.999, 430.0]","(9.999, 430.0]","(9.999, 430.0]"
2,"(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]","(0.999, 195.0]","(300.0, 395.0]","(0.999, 195.0]","(0.999, 195.0]","(0.999, 195.0]",...,"(4699.0, 4960.0]","(4699.0, 4960.0]","(4699.0, 4960.0]","(4699.0, 4960.0]","(4699.0, 4960.0]","(4699.0, 4960.0]","(4699.0, 4960.0]","(3999.0, 4160.0]","(3999.0, 4160.0]","(3999.0, 4160.0]"
3,"(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]","(200.0, 245.0]","(200.0, 245.0]","(200.0, 245.0]","(300.0, 395.0]","(300.0, 395.0]","(900.0, 965.0]","(900.0, 965.0]",...,"(4499.0, 4650.0]","(4499.0, 4650.0]","(4499.0, 4650.0]","(4299.0, 4430.0]","(4299.0, 4430.0]","(4299.0, 4430.0]","(4299.0, 4430.0]","(4299.0, 4430.0]","(4299.0, 4430.0]","(2999.0, 3260.0]"
4,NaN,NaN,NaN,"(259.0, 285.0]","(259.0, 285.0]","(259.0, 285.0]","(259.0, 285.0]","(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]",...,"(9.999, 430.0]","(9.999, 430.0]","(9.999, 430.0]","(9.999, 430.0]","(9.999, 430.0]","(9.999, 430.0]","(9.999, 430.0]","(2599.0, 2760.0]","(2599.0, 2760.0]","(2599.0, 2760.0]"
5,"(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]","(300.0, 395.0]","(0.999, 195.0]","(0.999, 195.0]","(0.999, 195.0]","(0.999, 195.0]","(0.999, 195.0]","(0.999, 195.0]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12681,NaN,"(739.0, 785.0]","(400.0, 575.0]","(400.0, 575.0]","(0.999, 195.0]","(400.0, 575.0]",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12682,NaN,"(600.0, 715.0]","(600.0, 715.0]","(600.0, 715.0]","(600.0, 715.0]","(200.0, 245.0]",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12684,NaN,NaN,NaN,NaN,"(400.0, 575.0]","(400.0, 575.0]",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12685,"(900.0, 965.0]","(900.0, 965.0]","(900.0, 965.0]","(900.0, 965.0]","(0.999, 195.0]","(0.999, 195.0]",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12686,"(600.0, 715.0]","(600.0, 715.0]","(600.0, 715.0]","(400.0, 575.0]","(400.0, 575.0]","(400.0, 575.0]","(600.0, 715.0]","(400.0, 575.0]","(400.0, 575.0]","(400.0, 575.0]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
# nlsw(1968)
# 68-93: 60 codes
w_60_start = 0
w_60_end = 1994-1968
bin_60_3 = [0,195,199,222,249,290,300,370,379,395,400,545,600,775,800,804,809,890,900,905,959,985,994,995]
# 95-01: 90 codes
w_90_start = 1995-1968
w_90_end = 2002-1968
bin_90_3 = [3,22,37,42,199,202,235,242,285,302,389,402,407,412,427,432,469,472,476,484,499,502,699,702,889,996,997,998]
# 03: 00 codes
w_00 = 2003-1968
bin_00_3 = [1,43,49,95,99,124,129,156,159,196,199,206,209,215,219,255,259,296,299,354,359,365,369,395,399,416,419,425,429,465,469,496,499,593,599,613,619,694,699,762,769,896,899,975,983,984,996,997,998]

# nlsy(1979)
# 79-00: 3 digit, 70 code,
y_70_start = 0
y_70_end = 2001-1979
bin_70_3 = [1 , 195,200 , 245,259 , 285,300 , 395, 400 , 575,600 , 715,739 , 785,800 , 802,820 , 824,900 , 965, 979 , 984]
# 02: 3-digit, 00 code
y_00_3_start = 2002-1979
y_00_3_end = 2003-1979

# 04-18: 4 digit, 00 code
y_00_4_start = 2004-1979
y_00_4_end = 2018-1979
bin_00_4 = [10 , 430, 500 -1, 950,1000-1 , 1240,1300 -1, 1560,1600 -1, 1760,1800 -1, 1860,1900 -1, 1960,2000-1 , 2060, 2100 -1, 2150,2200 -1, 2340,2400 -1, 2550, 2600 -1, 2760,2800 -1, 2960,3000-1 , 3260, 3300 -1, 3650,3700 -1, 3950,4000-1 , 4160,4200 -1, 4250,4300 -1, 4430,4459,4460, 4500 -1, 4650,4700 -1, 4960,5000-1 , 5930,6000-1 , 6130,6200 -1, 6940,7000-1 , 7620,7700 -1, 7750,7800 -1, 7850,7900 -1, 8960,9000-1 , 9750,9800 -1, 9830,9839,9840,9949,9950,9989,9990]

# nlsm(1966)
# 3-digit 60codes

# psid更新过的occupation(1968)
# 1968-2001: 1970 3-digit code, 
p_70_start = 0
p_70_end = 2001-1968
# 2002-2015: 2000 3-digit code,
p_00_start = 2002-1968
p_00_end = 2016-1968
# 2017-2019: 2010 4-digit code
p_10_start = 2017-1968
p_10_end = 2019-1968
bin_10_4 = [10 , 430, 500 -1, 950,1000-1 , 1240,1300 -1, 1560,1600 -1, 1965,2000-1 , 2060, 2100 -1, 2160,2200 -1, 2550, 2600 -1, 2960,3000-1 , 3540, 3600 -1, 3650,3700 -1, 3955,4000-1 , 4160,4200 -1, 4250,4300 -1, 4650,4700 -1, 4965,5000-1 , 5940,6005-1 , 6130,6200 -1, 6940,7700-1 , 8965,9000-1 , 9750,9800 -1, 9830,9998,9999]

In [ ]:
df_people_occu_level

In [44]:
# 绝对时间
def ever_ind_change(row):
    l0 = pd.Series([0 for i in range(len(row))])
    row=row.dropna() #np.nan!=np.nan必须drop掉nan的影响
    for idx, value in enumerate(row):
        if idx==0 or idx==p_00_start or idx==p_10_start:
            l0[idx]=-1
        elif value!=row[idx-1]:
            l0[idx]=1
    return l0
df_indu_wide = df_people_occu_level.apply(lambda x: ever_ind_change(x), axis=1)

In [49]:
df_indu_wide

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
1,-1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,-1,0,0,0,0,0
2,-1,0,0,0,0,1,1,1,0,0,...,0,0,0,0,-1,0,0,1,0,0
3,-1,0,0,1,0,0,1,0,1,0,...,0,0,0,1,-1,0,0,0,0,1
4,-1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,-1,0,0,0,0,0
5,-1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12681,-1,1,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12682,-1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12684,-1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12685,-1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12686,-1,0,0,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
df_indu_wide.to_csv('nlsy_industry_change_abs.csv', index=True)

In [46]:
# 相对时间
def ever_ind_change(row):
    row=row.dropna() #np.nan!=np.nan必须drop掉nan的影响
    l1 = pd.Series([0 for i in range(len(row))])
    for idx, value in enumerate(row):
        if idx==0 or idx==p_00_start or idx==p_10_start:
            l1[idx]=-1
        elif value!=row[idx-1]:
            l1[idx]=1
    return l1
df_indu_wide_r = df_people_occu_level.apply(lambda x: ever_ind_change(x), axis=1)

In [47]:
df_indu_wide_r.to_csv('nlsy_industry_change_rela.csv', index=True)

In [ ]:
def append_ind_ch(x, inv_start_year):
    if(len(x['person_id'])>0):
        idx_start, idx_end = x['year'].min()-inv_start_year, x['year'].max()-inv_start_year
        x['industry_change']=df_indu_wide